[2017-06-08 03:17] xwartz opened #1 "How ready is this project for production?"
I've been very interested in this project. I'm actually shocked to find this. I had searched a bunch projects. It's the only one which is compatible with iOS and Android.  How ready is this to be used in production?

[2017-06-08 11:50] hieuvp commented on #1
Hi @xwartz,

I'm glad that you are going to use this library for your project!
My team had faced exactly same situation as you did. After a few days for investigating into React Native open source community, we ended up by a cool decision, pick some of selective mature libraries in Native mobile world and to port them to React Native.

I can answer you that, we're using this 'react-native-fingerpr

[2017-06-08 12:49] xwartz commented on #1
Hi, @hieuvp
Thank you for the quick reply!
But it is not worked for me in react-native v0.37.

[2017-06-08 13:33] xwartz opened #3 "Any way of removing the "Enter Password" section?"
I'm wondering if there is any way to remove this section entirely and only have the 'Cancel' option.

[2017-06-09 02:37] huangxiaohao opened #4 "【iOS】Have any way to use the Native IOS's fingerprint?"
hi,I have a question that have any way to use the Native IOS's fingerprint?
I find that your component was create a new page to open the fingerprint function.
But in the other app, they just use a radio to control the fingerprint.
Thx so much!

[2017-06-09 06:38] hieuvp commented on #1
Sorry mate! this library only supports react native version >= v0.40

[2017-06-09 06:44] hieuvp commented on #1
Hi,

React Native significantly changes much while they're still in 0.x.x,
Better not to support version below 0.40!
Anyways, you can refer to this link to upgrade your current project:
https://facebook.github.io/react-native/docs/upgrading.html

You'll gain lot of benefits from it.

[2017-06-09 06:48] xwartz commented on #1
@hieuvp I have created a [PR](https://github.com/hieuvp/react-native-fingerprint-scanner/pull/2) to back compatibility for RN version < 0.40. And it is worked for me.

[2017-06-09 06:52] hieuvp commented on #1
Thanks @xwartz, I will review it again and consider to have support for RN < 0.40.0

[2017-06-09 06:55] hieuvp commented on #3
Yes, iOS does support it!

I will soon release a new version that provide that option.

[2017-06-09 07:01] xwartz commented on #1
Thanks. @hieuvp

[2017-06-09 07:01] #1 closed

[2017-06-09 07:09] xwartz commented on #3
great!

[2017-06-09 07:20] hieuvp commented on #4
Hi @huangxiaohao,

I'm not sure that I can get your question clearly.
The `authenticate` function is calling the real native code in iOS.
If you're asking for creating a custom layout for TouchID Authentication, the answer is NO.

Reference: https://stackoverflow.com/questions/29692598/custom-touch-id-view

[2017-06-09 09:46] hieuvp commented on #3
Hi @xwartz,

This feature is available on v2.1.3, check out README for further information.
Have a great day!

[2017-06-09 10:32] xwartz commented on #3
Wow, thanks @hieuvp .

[2017-06-09 10:32] #3 closed

[2017-06-12 02:42] huangxiaohao commented on #4
hi @hieuvp thank you for your reply. I am so sorry reply so late.
I will try to use your component on my project, and I will give you feedback ASAP.
Thank you soooo much!😊

[2017-06-12 03:58] #4 closed

[2017-06-21 05:17] huangxiaohao opened #6 "Some questions I have met in iOS"
Hi @hieuvp I have used your Component in my project, and this component was very good.
But I'm not a OC programmer, so I met some questions when I use your component.Hope you can help me to solve them.

1.I want to **When I enter my APP , I need use the fingerprint function to verification the user**, what  should I do?
2.when `UserCancel` there was a message show `Authentication was canceled by t

[2017-06-21 05:38] huangxiaohao commented on #6
oh I forget this:
3.how to open/close the fingerprint function?

[2017-06-23 18:58] AunMSheikh opened #7 "Question regarding sensor not available"
If the device does not support the sensor can I substitute it for a pin and is it possible to tie the "fingerprint" to a pin value so that the back end only verifies the pin regardless of whether an actual pin is submitted or the fingerprint is used?

[2017-06-29 02:29] #6 closed

[2017-07-10 15:02] zqderek opened #8 "undefined is not an object"
i do the same as your read.me  and the app can run. but!  at the app start i got some error
undefined is not an object(evaluating 'ReactNativeFingerprintScanner.isSensorAvailable').

i dont know what's wrong

[2017-07-10 15:23] AunMSheikh commented on #8
If you could post your implementation we might be able to debug it for you

[2017-07-21 17:28] chapeljuice commented on #8
I'm getting that error too, only for **ReactNativeFingerprintScanner.authenticate**.

Any ideas?

[code]

[2017-07-21 19:42] chapeljuice opened #9 "I'm getting an error FingerprintScannerNotEnrolled."
Complete error says:
`07-21 11:23:06.433  4639  5443 I ReactNativeJS: { [FingerprintScannerNotEnrolled: Authentication could not start because Fingerprint Scanner has no enrolled fingers.] name: 'FingerprintScannerNotEnrolled' }`

What does this mean?

Some details about my environment:
`"react": "^16.0.0-alpha.6",`
`"react-native": "^0.44.0",`
`"react-native-fingerprint-scanner": "^2.1.3",`

My c

[2017-08-02 13:58] foxmicha commented on #8
I am getting the same error when attempting to import the FingerprintScanner as a require statement. I'm doing this to attempt to clear up some TypeScript errors, since there doesn't appear to be any typings for this project.

This works fine but generates a TypeScript error:
import FingerprintScanner from "react-native-fingerprint-scanner";

This throws an undefined object exception:
const {Finge

[2017-08-02 14:04] foxmicha commented on #9
This error means exactly as it says: There are no fingerprints currently enrolled in the OS.

For iOS simulators, you just need to go to Hardware -> TouchID -> Toggle TouchID Enrollment Status in order to turn it on.

For Android Emulators you'll have to actually go through the process of enrolling one of the 10 fingerprints that are included in the kabob context menu (last button in the list that

[2017-08-15 05:08] harishsn opened #13 "Support RN > 0.47"
/node_modules/react-native-fingerprint-scanner/android/src/main/java/com/hieuvp/fingerprint/ReactNativeFingerprintScannerPackage.java:20: error: method does not override or implement a method from a supertype
    @Override
    ^
1 error
:react-native-fingerprint-scanner:compileReleaseJavaWithJavac FAILED

[2017-08-18 22:04] joelcdoyle opened #14 "Error Building Android App After Install"
**Using 2.1.3**
**`react-native` 0.46.1**

**UPDATE:** Same results **Using ^2.2.0** and **`react-native` ^0.47.0**

Since I've installed and linked this library, I get this error when attempting to build for Android:
[code]

The only difference from my working app is that I have installed and linked the library.

I have not even imported the FingerprintScanner

Results are identical for manual se

[2017-09-06 05:54] amitpadmani commented on #13
getting same issue.. #harishsn you find any solution ?

[2017-09-06 13:35] harishsn commented on #13
remove @override inside FingerprintPackage.java for createJSModules method.. That should work as a temp fix.

[2017-09-14 15:56] mobitar opened #16 "iOS "Enter Password" is treated as an error."
Does this library support the passcode fallback on iOS? Usually on too many failed attempts, iOS presents the pin code screen.

[2017-09-14 16:16] mobitar commented on #16
I've made a fork that fixes this issue. It also automatically tries again when a failed auth attempt occurs.

https://github.com/mobitar/react-native-fingerprint-scanner/commit/67b975c7b4507eece8a7e676a835cd8fee0b4b51

[2017-09-18 11:14] hoangnm commented on #13
It's been fixed, https://github.com/hieuvp/react-native-fingerprint-scanner/pull/15. Closing.

[2017-09-18 11:14] #13 closed

[2017-09-20 15:29] #14 closed

[2017-09-25 06:55] jamesduan opened #17 "When isSensorAvaiable catched error will run into forever loop"

[2017-10-02 11:25] eashevchenko opened #18 "FingerprintScanner authenticate promise result always return true"
When I have used FingerprintScanner authenticate method and check it on xCode emulator - Touch ID Matching touch - promise return true and Non-matching touch - also return true. How I can fix this ?

[2017-10-12 15:21] atom-r commented on #18
I'm also seeing this.

[2017-10-14 06:56] sahil290791 commented on #14
@joelcdoyle were you able to fix this issue?

[2017-10-14 11:36] sahil290791 opened #20 "Unable to create a release build after adding fingerprint-scanner library"
### Update:
The app works fine if I add `-ignorewarnings` at the end of **proguard-rules.pro**. Not sure if this is the correct way of doing it. @hieuvp can you please confirm if this the right of doing it?

### Description
The app works fine in debug mode, but the moment I try creating a release build, it keeps failing with this error:
[code]

I am using:
**React Native**: 0.42.3
**react-native-f

[2017-10-15 05:53] sahil290791 commented on #18
I am also facing this same issue. When will the [fix](https://github.com/hieuvp/react-native-fingerprint-scanner/pull/19) be merged?

[2017-10-15 05:58] #18 closed

[2017-10-15 06:01] hieuvan-pycogroup commented on #18
Hi @sahil290791,

I am checking it now, you will have an updated version after an hour.

Thank you!

[2017-10-15 07:19] sahil290791 opened #21 "Fallback option not appearing in iOS simulator running iOS 11"
This library is cool but I am not getting fallback option where a user could enter password.

Here is my code:
[code]

### Additional Details:
- RN: 0.42.3
- react-native-fingerprint-scanner: 2.2.1

[2017-10-18 22:41] umer98 opened #22 "Shake effect when there is a fingerprint mismatch"
Hi,

In your example [GIF](https://github.com/hieuvp/react-native-fingerprint-scanner/raw/master/screenshots/ios-authentication.gif) for iOS you show the "Try Again" message with the "shake" effect. That behavior does not seem to be present in your example app. How are you going about doing that on iOS?

[2017-10-18 23:05] #22 closed

[2017-10-19 19:59] joelcdoyle commented on #14
Yes. I was. I think it was just a matter of versioning. After updating everything the problem has been resolved.

[2017-10-31 16:33] phillbaker commented on #21
@sahil290791 what version of the XCode are you running? Looks like there was a bug in the simulator with [Touch ID in XCode 9 Beta 4](https://stackoverflow.com/a/45288796).

[2017-11-04 07:44] Mad-hu opened #25 "Support faceid?"
Support faceid?

[2017-11-08 04:35] sbycrosz commented on #25
It seems on iPhone X, iOS will automatically fallback to faceID.

Apart from the fallback modal that the user will see once, the experience feel seamless
![img_20171108_122432](https://user-images.githubusercontent.com/4867178/32531822-101cb1b6-c481-11e7-8ee1-e608d2cfc5ae.jpg)

[2017-11-08 04:41] Mad-hu commented on #25
@sbycrosz
![qq 20171108124142](https://user-images.githubusercontent.com/13977755/32532014-3108934e-c482-11e7-9adb-d94934dbe108.jpg)

[2017-11-15 01:37] haven2world commented on #25
`Error: Device does not support Touch ID`

[2017-11-20 09:58] jiang385 opened #26 "android fingerprint sdk update"
hi,
https://github.com/uccmawei/FingerprintIdentify
now android fingerprint sdk has  a latest release is 1.2.1,
when do you update?

[2017-11-28 18:07] alexmngn opened #27 "Error running gradle scripts"
I am trying to use the library but I get an error when it runs the gradle scripts:

[code]

It was working before and suddenly started to do that. Did something get updated? I don't see any changes or new release.

[2017-12-19 12:45] fenglu09 commented on #20
Have the same issues. Did you have solved it?

[2017-12-19 12:50] sahil290791 commented on #20
I have added the code shared below and it works fine after that.

`android/app/proguard-rules.pro`
[code]

[2017-12-24 13:47] olegfilimonov commented on #25
Would be awesome to have "isSensorAvailable()" return biometry type

[2018-01-02 09:38] Aaaaaashu commented on #25
![image](https://user-images.githubusercontent.com/3678166/34479774-88433d1c-efe3-11e7-8c1e-89c6901c3e68.png)

When I unlock with Face ID, the pop-up content is missing icon or text.

[2018-01-04 03:47] hungdt-ibl opened #29 "Don't work with samsung fingerprint"
Tested on android : samsung galaxy s7

`
FingerprintScanner
     .isSensorAvailable()
     .then(result => {})
     .catch(error => {
        console.log('error', error);
     });
`

got error :

{ line: 179869, column: 34 }

TypeError: undefined is not an object (evaluating 'ReactNativeFingerprintScanner.isSensorAvailable')

[2018-01-04 07:53] hungdt-ibl commented on #29
sorry , i forgot add package

[2018-01-04 07:53] #29 closed

[2018-01-22 11:20] samratshekhar commented on #25
I wasted quite a lot of time on why faceID was not working on my iPhone X simulator. Hope this helps the next person.
[Face ID for Xcode 9 GM unable to evaluate](https://forums.developer.apple.com/message/265156?et=watches.email.thread#265156)

[2018-01-22 11:43] samratshekhar commented on #25
Also, one needs to add following to `info.plist`:
[code]
Or, try adding `Privacy - Face ID Usage Description` along with the description via GUI. Failing this, app will crash in release mode.

[2018-01-30 03:14] mobitar opened #32 "Confused by this commit"
In 747c049a8977b9f5a81319426165dd2627618649, the ` if (mFingerprintIdentify == null)` check is removed, so every call to `getFingerprintIdentify()` results in the creation of a new `FingerprintIdentify` object.

In `getErrorMessage()`, this can be called 3 times, meaning 3 objects are created and also duplicate calls to `mReactContext.addLifecycleEventListener(this);`

Are we sure this is safe to

[2018-02-05 14:31] aadishah commented on #32
Hi,
I have been working on this bug. I have faced no issues with all devices except Google Pixel and Nexus devices.

On Nexus 6p and Pixel 2, The duplicate calls which you're talking about cause the `onFailed()` function to be called as soon as the app starts, so when the user hits the button for touch authentication popup to show up, the application shows the popup with the error: `Authentication

[2018-02-05 15:00] mobitar commented on #32
I tested this myself on a huawei honor 6 but could not replicate this issue. Deleting a fingerprint then re-adding it works works as expected.

[2018-02-19 09:14] ValentinBlokhin commented on #32
@aadishah any progress on this? We really need it.

[2018-02-19 11:04] ESA2012 commented on #32
Redundant creation of new instances causes `'Authentication was not successful because the user failed to provide valid credentials.'` error

[2018-02-26 03:14] tackanoway35 opened #34 "How to determine touch id is turn off"
My device is supported touch id but i turn off touch id feature.
isSupported method can check touch id is supported or not
How can i determine that touch id is turn off

[2018-03-09 14:30] 2vm opened #35 "What should I do when attempts is over?"
Right now we have a 5 attempts to pass or fail the touchID. What should we do if user failed all 5 attempts? How can we unlock fingerprint to be able to start its loop again? Or, maybe, it is possible to set an attempts number to smth like 9999? I found
[code]
But seems like changing this value has no affect on our attempts count.
Actually I found the way to unlock it - user must scan valid finger

[2018-03-19 13:43] edo1493 commented on #25
@Aaaaaashu did you figure out a way to show context / text / icon in the faceid popup? or is it just a simulator thing?

[2018-03-26 03:04] jzfai opened #38 "We can verify the fingerprint but how to input the fingerprint information"

[2018-03-26 10:41] Salman18 opened #39 "Package Error"
android\app\src\main\java\com\throughbit\MainApplication.java:5: error: package com.rnfingerprint does not exist
import com.rnfingerprint.FingerprintAuthPackage;
                        ^
D:\Throughbit-Mobile\android\app\src\main\java\com\throughbit\MainApplication.java:31: error: cannot find symbol
            new FingerprintAuthPackage(),
                ^
  symbol: class FingerprintAuthPackage

[2018-04-03 23:54] phillbaker commented on #25
See https://github.com/hieuvp/react-native-fingerprint-scanner/pull/37

[2018-04-28 19:36] to175 opened #40 "[Crash] FingerprintPopup makes the app crashes"
Hello,
I have last version of react native and my gradle is okay. I did the installation the right way regarding to your guide. I can run my app but once I've added the "example" folder the app creashes... I have removed ios file because I use android only and I have removed "android" in the filename because in the code there is no "android" in the pathname of the import.

I think the crash come f

[2018-04-30 04:55] uniquarkD commented on #40
Have you added NSFaceIDUsageDescription on your info.plist?
<key>NSFaceIDUsageDescription</key>
<string>$(PRODUCT_NAME) Authentication</string>

[2018-04-30 11:00] to175 commented on #40
What is the path please ? I don't need iOS yet and I don't  have faceID on my Huawei

[2018-05-05 12:59] #32 closed

[2018-05-14 14:10] lovebehl opened #42 "Fingerprint Authenticate issue"
i got issue undefined is not a function (evaluting 'e.props.handlePopupDismissed()')

Any idea ?

[code]

[2018-05-23 12:54] siokstoksanoks opened #43 "ios popup dismiss"
Hi, is there a way to dismiss fingerprint popup?

componentWillUnmount() {
    FingerprintScanner.release();
}

leaves popup open on ios.

[2018-05-31 13:22] dekameron22 opened #45 "Authentication was not successful because the user failed to provide valid credentials - throws randomly."
[code]

sometimes inside componentdidmount this method returns error

even if user didn't scan finger.

[2018-06-20 10:11] IsracardTeam commented on #45
+1

[2018-07-05 08:53] SaruwatariSagittario opened #47 "Enrollment Fingerprint Changed"
hi, anyone have a way to listen when the enrolled fingerprint is added or removed ?

[2018-07-09 16:06] SaniokUA commented on #45
+1 Samsung S8

[2018-07-17 05:41] rajscet commented on #42
i got the same

[2018-07-18 09:53] antbaobao commented on #8
so anyone has solved this problem ?

[2018-07-18 13:11] foxmicha commented on #8
You should be able to do:

`const {FingerprintScanner} = require("react-native-fingerprint-scanner").default;`

This ended up being the workaround for me.

[2018-07-18 13:16] #8 closed

[2018-07-21 17:54] simranaurora opened #50 "External scanning device"
Can this work if I use external biometric finger scanner device ?

[2018-07-25 23:15] kenkotch commented on #45
I have the same issue, though less random - on Android.
I use an auto logout feature. After auto logout is triggered, the fingerprint scanner shows `Authentication was not successful because the user failed to provide valid credentials`
To reset, I need to quit the app and restart.
Is there a way to programmatically reset the fingerprint scanner?

[2018-07-28 09:56] dinhtu0802 opened #51 "call function when authenticated successfully"
hi @hieuvp !
<img width="684" alt="screen shot 2018-07-28 at 4 55 02 pm" src="https://user-images.githubusercontent.com/40747369/43355463-02ee6a64-9287-11e8-8438-9ea84ff58c7e.png">
 i want navigate when  authenticated successfully but cant.
Please help me!

[2018-07-29 08:20] dinhtu0802 commented on #17
+1

[2018-08-01 15:53] antbaobao opened #52 "undefined is not an object(evaluating 'ReactNativeFingerprintScensor.isSensorAvailable')"

[2018-08-06 01:35] kenkotch commented on #45
I solved the issue on my end.
If `FingerprintScanner.release()` doesn't get called after you authenticate and before you use again it causes the issue.
componentWillUnmount() isn't getting called for a variety of reasons (bugs in RN modal) so instead in componentDidMount() I call `FingerprintScanner.release()` before `FingerprintScanner.isSensorAvailable()` and `.authenticate()`

I'm also using re

[2018-08-14 07:39] C0dekid commented on #45
Getting the same error. `FingerprintScanner.release()` does nothing at all.

[2018-09-07 14:33] phillbaker commented on #39
Hi @Salman18 thanks for opening an issue. Can you provide a full set of instructions to reproduce this issue?

Since this issue has to do with setting up the react native integration, have you tried uninstalling this package and installing again using the instructions in the readme?

[2018-09-07 14:36] phillbaker commented on #35
Hi @2vm, I believe that the Android implementations may differ, but for iOS, a user has 5 attempts to use TouchID/FaceID, after that the user must enter the passcode. See https://apple.stackexchange.com/a/138998 for more.

This seems like a reasonable approach to take across platforms as well.

I'm going to close this issue for now as it doesn't seem like an issue with this library specifically, b

[2018-09-07 14:36] #35 closed

[2018-09-07 14:38] phillbaker commented on #47
Hi @SaruwatariSagittario, I've recently been added as a collaborator on this repo. Can you give an example workflow to help illustrate the problem you're trying to solve?

[2018-09-07 14:41] phillbaker commented on #34
Hi @tackanoway35 the `FingerprintScanner.isSensorAvailable()` will return if a device currently supports touch id. One approach to detect if the user has disabled touch id is to call it before initiating an action using biometrics - that will give the most recent state.

I'm going to close this issue for now, please re-open if things are still not clear!

[2018-09-07 14:41] #34 closed

[2018-09-07 14:43] #25 closed

[2018-09-07 14:49] phillbaker commented on #7
Hi @AunMSheikh, I've recently been added as a collaborator on this repo and am just getting up to speed on the different issues.

I believe what you're requesting is outside the scope of this library - can you clarify how a pin is used by the different device biometric interfaces?

[2018-09-08 20:32] phillbaker commented on #51
Hi @dinhtu0802 thanks for opening an issue. I've recently been added as a collaborator on this repo.

Unfortunately, this doesn't sound like an issue with this library, so I'm going to close this issue for now. Please reopen if you can provide a specific error or issue related to this library. Thanks!

[2018-09-08 20:32] #51 closed

[2018-09-09 21:06] phillbaker commented on #43
@siokstoksanoks thanks for opening an issue. It looks like this is theoretically, however, not currently implemented. Of note - `FingerprintScanner.release()` is only implemented on Android.

From this [SO post](https://stackoverflow.com/a/40938405):

If you'd like to submit a PR that would implement the `release()` method on iOS, I'd love to review it and help it merged!

[2018-09-09 21:10] phillbaker commented on #52
Hi @antbaobao thanks for opening an issue.  I've recently been added as a collaborator on this repo and am getting familiar with the open issues.

Can you provide a complete example demonstrating how to reproduce this error?

Looking at the [README documentation for this method](https://github.com/hieuvp/react-native-fingerprint-scanner#issensoravailable-android-ios), it looks like the general way

[2018-09-09 21:12] phillbaker commented on #26
Hi @jiang385 thanks for opening an issue - it looks like there's some initial work to bump this dependency in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/41/commits/410c78bf921e8b54c97341e27d338324ec9ee77d.

[2018-09-09 21:15] phillbaker commented on #20
Hi @sahil290791 I've recently been added to this repo as a collaborator and am getting up to speed on the different issues. So that we're all on the same page, do you mind posting the rest of your proguard file and the value of your `enableProguardInReleaseBuilds`?

[2018-09-09 21:16] phillbaker commented on #16
Hi @mobitar thanks for opening an issue - I've recently been added as a collaborator to this repo and am getting up to speed on the different issue. Would you like to make a PR for the patch you mentioned? (We'll probably also need a similar android patch to merge it.)

[2018-09-10 08:10] jiang385 commented on #26
oh, Thank you so much for your help! It's great!

[2018-09-10 13:15] mobitar commented on #16
Hey @phillbaker, unlikely to get a chance to submit a PR anytime soon. The current code has also grown a bit custom based on our needs. I think the best solution is to just copy/paste code as needed, especially anything related to FaceID, if that hasn't been implemented yet.

[2018-09-12 17:38] WeslleyNasRocha commented on #25
@edo1493 did you figure out that?

[2018-09-13 06:44] yoavapi commented on #25
to be added to the readme

[2018-09-15 09:12] yoavapi commented on #45
+1

[2018-09-15 23:58] phillbaker commented on #45
Hi all, I've recently been added as a collaborator on this repo and am getting up to speed on the different issues.

I think I understand the bug report, however, based on @kenkotch's posted work around I'm not sure what next steps are. I suppose one approach would be to always call `.release()` on android when authentication succeeds or fails? If anyone has a potential fix to PR, would definitely

[2018-09-15 23:59] phillbaker commented on #52
Closing for now as there's been no follow up. @antbaobao please re-open if there are more details!

[2018-09-15 23:59] #52 closed

[2018-09-16 00:03] phillbaker commented on #21
Closing for now as there's been no follow up. @sahil290791  please re-open if there are more details!

[2018-09-16 00:03] #21 closed

[2018-09-16 03:02] yoavapi commented on #45
Hi,

calling the `.release()` doesn't fix it for me. :(

it looks like the Java's onHostDestroy is never called from my understanding.
and then when you try to use the fingerprint again the old context is being thrown to the native module and to the React Native Bridge.

[2018-09-16 21:49] phillbaker commented on #45
@yoavapi thanks for the update. That sounds like it'd be good to add to the example app in this repo and/or to the readme. Any interest in doing a PR?

[2018-09-18 10:07] joshuachinemezu opened #54 "Get the Asymmetric Keys"
Can you get the Asymmetric Keys from any user's fingerprint or even just the public key ?

Looks like you can only verify a fingerprint which was beforehand stored into Android Keystore by the user. Is that correct ?

Is there a way to get the asymmetric keys and probably save it to your server?

[2018-09-18 20:16] WeslleyNasRocha opened #55 "Device in lockout"
Would be nice if it provides an specific error when the device is in lockout,
[docs](https://developer.android.com/reference/android/hardware/fingerprint/FingerprintManager.html#FINGERPRINT_ERROR_LOCKOUT)

[2018-09-18 23:05] WeslleyNasRocha commented on #55
Do you guys have any rules of contribution?
I think I made it.

[2018-09-19 04:11] phillbaker commented on #55
Great! There's some work being done on this in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/44 and https://github.com/hieuvp/react-native-fingerprint-scanner/pull/41/commits/f07e5d9b31e5b78ed28ba4508521d1c43b3b5f39, but if you have a specific change that you'd like to PR, that'd great.

General rules of thumb are to follow the styles and conventions of the repo as they exist cur

[2018-09-19 04:14] phillbaker commented on #54
Hi @joshuachinemezu I'm not quite sure I follow - can you provide any links to where this is possible via the [Android library](https://github.com/uccmawei/FingerprintIdentify) or the iOS native libraries?

[2018-09-19 04:16] phillbaker commented on #9
@chapeljuice any follow up here? Otherwise it looks like this issue can be closed.

[2018-09-19 04:26] phillbaker commented on #42
Hi @lovebehl, @rajscet I've recently been added to this repo as a collaborator and am trying to get up to speed on the different issues. Is this issue still relevant?

[2018-09-19 08:44] joshuachinemezu commented on #54
Thanks @phillbaker this [https://developer.android.com/reference/android/hardware/biometrics/BiometricPrompt.CryptoObject](link) is saying something about getCipher and cyrptoObject, so I was thinking one of them can get the unique asymmetric keys of a user that I can save to my database and use it to identify a particular... What do you think @phillbaker @hieuvp

[2018-09-19 08:54] joshuachinemezu commented on #54
Ok what I am trying to achieve is a time attendance software that when a staff comes to work the just place their thumb on the scanner and it queries for that staff on the db using the asymmetric key that has been previously saved to the db thus registering the time that the staff came to work.
Hope you understand, ask me if you need any further clarifications.Thanks @phillbaker @hieuvp @tommeier

[2018-09-19 13:40] WeslleyNasRocha commented on #55
Ow, thx.
I guess since #44 its from june, its just an small change

[2018-09-19 13:41] WeslleyNasRocha commented on #55
and in [f07e5d9](https://github.com/hieuvp/react-native-fingerprint-scanner/commit/f07e5d9b31e5b78ed28ba4508521d1c43b3b5f39) it is not in npm i guess

[2018-09-19 13:43] WeslleyNasRocha commented on #55
#56 here it is, just a small change for a quick support to device locked

[2018-09-19 13:45] mobitar commented on #16
Yes that's correct.

[2018-09-19 14:09] #9 closed

[2018-09-20 04:01] phillbaker commented on #26
Addressed in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/56.

[2018-09-20 04:01] #26 closed

[2018-09-20 04:02] phillbaker commented on #55
Fixed in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/56.

[2018-09-20 04:02] #55 closed

[2018-09-25 10:38] huytran123 opened #57 "Document iOS FaceID Info.plist requirement"
Please add config add key "NSFaceIDUsageDescription" with value "Need your face to unlock secrets!" to run Face ID on iPhone X.

If not have that key. I can not use Face ID

[2018-09-25 23:28] phillbaker commented on #17
Hi all, I've recently been added to this repo as a collaborator and am getting up to speed on the different issues. I don't quite follow this bug report - is there a simple code snippet that can help reproduce this?

[2018-09-25 23:29] phillbaker commented on #20
I'd also point out that @sahil290791's reply is documented in the readme here: https://github.com/hieuvp/react-native-fingerprint-scanner#extra-configuration

Since there haven't been any updates, I'm going to close this issue for now.

[2018-09-25 23:30] #20 closed

[2018-09-25 23:31] phillbaker commented on #40
Hi all, I've recently been added to this repo as a collaborator and am getting up to speed on the different issues. @to175 can you include a stacktrace of the crash or any other details about the errors that may have caused it?

[2018-09-25 23:33] phillbaker commented on #57
Hi @huytran123, thanks for opening an issue! We should definitely document this better in the Readme.

An example of adding to the `Info.plist` is:

[code]

[2018-09-29 04:38] fauzynurn opened #58 "Cannot read property 'isSensorAvailable' of undefined"
I tried to clone the example and ran it on my android. but it showed the error that the property 'isSensorAvailable' is undefined. I tried to debug the FingerprintScanner and i saw the isSensorAvailable function there. Here's some screenshoot :

(the problem i faced)
![screenshot](https://user-images.githubusercontent.com/28076295/46241081-cda1fe80-c3db-11e8-9a28-95af2a165460.jpg)

(the debug i ha

[2018-10-01 14:36] WeslleyNasRocha commented on #54
@joshuachinemezu i think i could understand what you want, but this is something i think only the android api provide, but the [library](https://github.com/uccmawei/FingerprintIdentify) this package relies onto, does not provide this kind of functionality, it only compares then returns if it works or not and why not.

[2018-10-01 23:58] fauzynurn commented on #58
Solved. It is because i created my project with create-react-app instead of react-native init. My mistake. Thanks .

[2018-10-01 23:58] #58 closed

[2018-10-02 03:03] #57 closed

[2018-10-03 14:40] Kyonru commented on #54
Maybe you should try something like [this](https://github.com/SelfLender/react-native-biometrics).

[2018-10-04 07:18] atultiwari1996 commented on #50
I use morpho biometric external device but not working . is this possible using this package.

[2018-10-07 14:41] sanjaymhj commented on #58
I am facing the same issue.

Solution [#8 comment](https://github.com/hieuvp/react-native-fingerprint-scanner/issues/8#issuecomment-405924952)  also doesnot work for me.

[2018-10-08 15:51] VinCodeTheWeb commented on #42
I have the same issue... I've done everything correct but can't figure out what's happening...

`import React, { Component, PropTypes } from "react";
import { AlertIOS } from "react-native";
import FingerprintScanner from "react-native-fingerprint-scanner";

class FingerprintPopup extends Component {
  componentDidMount() {
    FingerprintScanner.authenticate({
      description: "Scan your finger

[2018-10-08 15:54] phillbaker commented on #58
@sanjaymhj did you make sure that the modules are linked correctly and re-compile the app?

[2018-10-09 01:49] sanjaymhj commented on #58
@phillbaker yes. I have tried both react-native link `react-native-fingerprint-scanner` and manual configuration. Both results to the same issue. Am I missing something?

[2018-10-10 20:34] mahesh-vidhate opened #59 "getting "FingerprintScannerError" error on iOS device when i am trying use either FingerprintScanner.authenticate() or isSensorAvailable()"
here is my code, which is exactly same as the given in example project code -

FingerprintPopup.ios file --

componentDidMount() {
    FingerprintScanner
      .authenticate({ description: 'Scan your fingerprint on the device scanner to continue' })
      .then(() => {
         this.props.handlePopupDismissed(true);
      })
      .catch((error) => {
          console.log(error);
      });
  }

co

[2018-10-12 17:22] phillbaker commented on #59
@mahesh-vidhate sorry to hear you're having issues. This seems similar to https://github.com/hieuvp/react-native-fingerprint-scanner/issues/9.

Can you clarify:
* the version of react native you're using?
* the device type you're testing on?
* the version of this library you're using?

[2018-10-12 17:28] phillbaker commented on #54
Thanks @Kyonru, seems like this is appropriate for the library you found or another independent library. Going to close this issue for now as outside the scope of this project. Thanks!

[2018-10-12 17:28] #54 closed

[2018-10-12 17:31] phillbaker commented on #50
Hi @atultiwari1996 the underlying android library used here is https://github.com/uccmawei/FingerprintIdentify, can you determine if that library supports your device?

[2018-10-14 13:28] sanjaymhj commented on #58
@phillbaker thanks for the help. Don't know if this is relevant or correct but I fixed it by removing `ReactNativeHost` from `MainApplication`. `react-native-navigation` was causing a problem in my case. But between `react-native-navigation`: 1.x.x, `react-native-fingerprint-scanner`: 2.5.0 and `react-native-fbsdk`: 0.7.0, I could only include 2 libraries in my project.

[2018-10-14 13:32] sanjaymhj commented on #42
@VinCodeTheWeb could you post the error log

[2018-10-22 08:53] nehab05a commented on #59
Any update on this?
I am having same issue and after registering faceId/touchId my app crashes on iOS.

Environment:
  OS: macOS High Sierra 10.13.4
  Node: 9.8.0
  Yarn: 1.3.2
  npm: 5.8.0
  Watchman: 4.9.0
  Xcode: Xcode 9.3.1 Build version 9E501
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
  react: ^16.3.1 => 16.5.2
  react-native: ^0.55.0 => 0.55.4

I am using "2.2.1"

[2018-10-23 07:23] nehab05a opened #60 "FaceID not working"
Application crashes while authenticating for FaceID.

FingerprintScanner
      .authenticate({ description: 'Scan your fingerprint on the device scanner to continue' })
      .then(() => {
        this.props.onSuccess();
      })
      .catch((error) => {
        this.props.onCancel();
      });

This piece of code fails for faceID however, TouchID/Fingerprint works perfectly fine for both iOS and

[2018-10-24 08:59] nehab05a commented on #60
Closing this issue as I found out a solution. Need to set permission for FaceID on iOS device.

Added following in **Info.plist** to get it working
**<key>NSFaceIDUsageDescription</key>
<string>Enabling Face ID allows you quick and secure access to your account.</string>**

[2018-10-24 08:59] #60 closed

[2018-10-24 22:21] phillbaker commented on #60
@nehab05a yup, included in the readme at https://github.com/hieuvp/react-native-fingerprint-scanner#extra-configuration, I guess not the most obvious, sorry! Where would be a better spot to put it?

[2018-10-25 13:53] nehab05a commented on #60
@phillbaker In my opinion we should be having a Permission section mentioning this stuff
Something like this:

### App Permissions

Add the following permissions to their respective files:

In your `AndroidManifest.xml`:

[code]

In your `Info.plist`:

[code]

[2018-10-25 17:59] phillbaker commented on #60
Makes sense, could you do a PR?

On Thu, Oct 25, 2018 at 9:53 AM Neha Brahmankar <notifications@github.com>
wrote:

[2018-10-26 07:36] nehab05a commented on #60
Created one as requested.

[2018-10-28 13:20] sasanrk opened #62 "Device does not support finger print scanner"
This is weird, because there is a phone **has supported finger print** but getting this error :
Device does not support finger print scanner

![device_has_not_support_small](https://user-images.githubusercontent.com/26356747/47616455-1e3b7300-dad2-11e8-9bf4-a5bb8d936ff2.jpeg)

**It happened just for this phone, What do you think ?**
device : huawei mT7-l09

[2018-10-28 13:55] Ramin-Bateni commented on #62
Are you sure that you used the following instructions in your project correctly?

**Android**
Open up `android/app/src/main/java/[...]/MainActivity.java`
Add import com.hieuvp.fingerprint.ReactNativeFingerprintScannerPackage; to the imports at the top of the file
Add new `ReactNativeFingerprintScannerPackage()` to the list returned by the `getPackages()` method
Append the following lines to `andro

[2018-10-28 22:04] phillbaker commented on #62
@sasanrk did that fix the issue? Should this issue be closed now?

[2018-10-28 22:05] phillbaker commented on #59
Hi @mahesh-vidhate since there hasn't been any update or clarification, I'm going to close this issue. Please re-open if there are further details that can help reproduce this.

[2018-10-28 22:05] #59 closed

[2018-10-29 08:21] sasanrk commented on #62
@phillbaker
@Ramin-Bateni

I'm still **waiting** for the **test unit** response. If I get the answer I will share the result here

[2018-10-30 06:01] mahesh-vidhate commented on #59
@phillbaker
Sorry for the delay. This issue is got fixed now, It was due to 'live reload'. During the testing, when I try to reload the new bundle multiple times using the live reload, maybe, in this case, it fails to detect the fingerprint sensor and this error comes. Also when you try to authenticate fingerprint with the wrong one multiple times, the iOS system disables the fingerprint and this

[2018-11-20 09:17] soumyamishra89 commented on #45
This issue has been there for a while. Is someone working on it?
I too face the same issue where the fingerprint scanner throws unauthorised error.

[2018-11-28 06:31] viv3kk commented on #42
handlePopupDismissed
TypeError: _this2.props.handlePopupDismissed is not a function

[2018-11-28 23:04] phillbaker commented on #40
I'm going to close this issue since there's been no followup. Without specific details of the exception or crash, we can't reproduce or fix the issue. Please re-open if there are further details.

[2018-11-28 23:04] #40 closed

[2018-11-28 23:09] phillbaker commented on #42
@viv3kk @sanjaymhj @VinCodeTheWeb this issue seems very similar to:
*  https://github.com/hieuvp/react-native-fingerprint-scanner/issues/52
* https://github.com/hieuvp/react-native-fingerprint-scanner/issues/8

Can you try the workaround posted in https://github.com/hieuvp/react-native-fingerprint-scanner/issues/8#issuecomment-405924952 or https://github.com/hieuvp/react-native-fingerprint-scanner

[2018-11-29 22:57] phillbaker commented on #45
@soumyamishra89 were you able to try @yoavapi's suggested workaround:

[2018-11-30 09:39] soumyamishra89 commented on #45
@phillbaker The issue is not when the user has failed attempts. The issue is when the app is opened for the first time, the user has not attempted to unlock with fingerprint and still it shows failed attempt.
May be the PR: #44 might help.

[2018-12-06 12:03] GuusBaggen opened #64 "compile deprecation"
compile in android/build.gradle should be replaced with implementation

![image](https://user-images.githubusercontent.com/22646819/49583034-2d2a0680-f957-11e8-916e-976200e066ac.png)

[2018-12-11 23:34] cmejet opened #65 "[ANDROID] Installation Instructions Incomplete"
Instructions do not include instructions to add the package to the MainApplicationJava. It is present in the Android Example code but not in the directions for setup.

Should instruct users to add the import statement to the MainApplicationJava as well as the package to the getPackages function.

import com.hieuvp.fingerprint.ReactNativeFingerprintScannerPackage;

new ReactNativeFingerprintScanner

[2018-12-12 12:53] phillbaker commented on #65
Hi @cmejet, those are typically added by `react-native link` ([readme link](https://github.com/hieuvp/react-native-fingerprint-scanner#automatic-configuration)). There are also [manual configuration instructions](https://github.com/hieuvp/react-native-fingerprint-scanner#android).

Did these instructions not work?

[2018-12-12 16:50] cmejet commented on #65
@phillbaker react-native link adds the project to the settings gradle and the project gradle files, and the import but does not add the package in the MainApplication.java

I'm sorry I missed the import line on the instructions over shadowed by the "Extra Configuration" section :) My bad, it all starts to blur.

[2018-12-12 16:50] #65 closed

[2018-12-17 15:14] soumyamishra89 commented on #45
any update on this issue?

[2018-12-19 08:17] YoujustneedAjob opened #66 "isSensorAvailable function doesn't get correct fingerprint state"
here's  a thing,  I use isSensorAvailable  method in ComponentDidMount , it's works;
when I back homePage, delete fingerprint in system, and back to App , use isSensorAvailable  method , then get wrong state; seem like it's just works in first time?

here my code:
[code]

[2018-12-19 15:07] phillbaker commented on #66
This technique does work - is your AppStateChangedListener getting called? I've seen the `isSensorAvailable` called in `componentWillReceiveProps` which could be too frequent, but does make sure that it's called when something changes.

[2018-12-20 00:41] YoujustneedAjob commented on #66
not props change called 'isSensorAvailable' , it's 'AppState'.
MyApp back to Home Screen, delete fringerprint in system, then go back MyApp, AppState changed listener called 'isSensorAvailable', and the fingerprint setting state is not correct.

[2018-12-20 11:15] icastillejogomez opened #67 "Android: same config but not posible to run"
[code]

[2018-12-20 11:40] icastillejogomez opened #68 "Example code instrucctions error"
In the source code example I don't see:

[2018-12-20 11:56] icastillejogomez commented on #67
This solve my problem. I'm using v26.0.1

[2018-12-20 12:07] icastillejogomez commented on #67
Now I see this when I run `react-native run-android` on my device:

[code]

[2018-12-20 12:10] icastillejogomez opened #69 "List of available sensors"
Any way to get the list with all available sensor, not in one device but in all

[2018-12-20 15:32] icastillejogomez opened #70 "iPhone XS crash without erros when try to use FaceID"
Al works out in android and ios. (Real devices) But in iPhone XS simulator with FaceID Enrolled and Info.plist not:

[code]

[2018-12-20 23:12] phillbaker commented on #68
Hi @icastillejogomez I believe this is the relevant line: https://github.com/hieuvp/react-native-fingerprint-scanner/blob/3a8b854c1d44ddfea62b4783c77039ed486a62d8/examples/android/app/src/main/java/com/examples/MainApplication.java#L24-L29

[2018-12-20 23:14] phillbaker commented on #70
Just to clarify - the app on the device was built with that Info.plist? Can you try rebuilding to make sure that the correct `NSFaceIDUsageDescription` key is there?

There should also be a native crash log available in xcode - can you post the relevant bits?

[2018-12-20 23:15] phillbaker commented on #69
@icastillejogomez can you clarify the question and/or give an example? I'm not sure I follow - this library can only be used on one device at a time and each device typically only has one sensor.

[2018-12-21 15:13] icastillejogomez commented on #69
In new Huawei Android (P Smart +) for example, has facial recognition and fingerprint sensor. I made some test (disable fingerprint sensor and enable and enrolle "face id") and app show me the fingerprint sensor.

Exists any way to get **all** biometric mobile sensors?

The mobile industry is growing so fast the last years.... Thanks for all!!!

[2018-12-21 15:23] icastillejogomez commented on #70
Okay thank you so much @phillbaker for spend your time with me. I'm using react native, not expo, I one of my biggest questions are: ¿How can I rebuild ios? I think I already doing:

When I want to run my React Native app I do the following steps:

1. `rm -fr package-lock.json node_modules/ && npm i && npm start -- --reset-cache` this run metro bundler with empty cache.
2. `react-native run-ios --

[2018-12-21 18:54] phillbaker commented on #69
Interesting! It'd have to be supported in the upstream library we use https://github.com/uccmawei/FingerprintIdentify, probably best to open a ticket there.

[2018-12-21 20:17] icastillejogomez commented on #69
Okay. I think the best choice is that repo admins open the issue there.

[2018-12-21 22:39] icastillejogomez commented on #70
Now I just tried to launch iPhone XS with **the same** configuration. Everything works perfect... I also tried to launch with react-native cli in debbug mode and non-debbug log and everything works out. What it could be? I do not know what to think. How can I check if Info.plist is working good? How can I rebuild ios app? I know this kind of questions I have to ask in another site but I you can cl

[2018-12-21 22:39] #70 closed

[2018-12-21 22:41] #69 closed

[2018-12-30 11:26] SaeedZhiany opened #71 "Typescript support"
This library will be very most useful if we can use it in typescript based project. so it will be valuable if start creating types declaration file.

[2019-01-02 06:27] viv3kk opened #72 "Unable to build production app"
Unable to build production app with RN 0.57 and android

What went wrong:
Execution failed for task ':react-native-fingerprint-scanner:verifyReleaseResources'.

  Output:  /home/justdial/react_projects/myjd_code/hrlite/node_modules/react-native-fingerprint-scanner/android/build/intermediates/res/merged/release/values-v26/values-v26.xml:7: error: resource android:attr/colorError not found.
  /home/

[2019-01-02 07:47] viv3kk commented on #72
Resolved by updating build.gradle
[code]

[2019-01-10 05:06] akash4320 commented on #60
Above mentioned all the process have been done , but it doesn't solve for FaceID in Android and ios both.this problem is in react native fingerprint scanner as well as react-native-touchId

[2019-01-24 00:32] opolyo01 opened #73 "face id is not working on some devices"
I have tested with 4 iphoneX devices, and 2 out of 4 fail on
[code]
It always crashes on iphone X simulator.

I am using - "react-native-fingerprint-scanner": "^2.5.0",

[2019-01-25 12:33] chethan14 opened #74 "isSensorAvailable() method returns boolean(true or false) value instead of biometryType value(Touch ID,Face ID)"
FingerprintScanner.isSensorAvailable().then(biometryType => {
                    console.log(
                        "fingerprintScannerAvailable available",
                        biometryType
                    ); }).catch(err => {
                    console.log("fingerprintScannerAvailable not available");
                });

React-Native version:0.56.0
   "react-native-fingerprint-scanne

[2019-01-25 15:16] phillbaker commented on #62
Going to close this issue for now since there hasn't been an update, but please re-open if there's additional detail.

[2019-01-25 15:16] #62 closed

[2019-01-25 15:17] phillbaker commented on #74
@chethan14 can you verify that you're running the latest version of react-native-fingerprint-scanner, the latest released version is 2.5.0: https://www.npmjs.com/package/react-native-fingerprint-scanner

[2019-01-25 15:18] phillbaker commented on #73
Hi @opolyo01 can you share the error logs you're seeing?

[2019-01-28 09:49] chethan14 commented on #74
Hi @phillbaker, after upgrading react-native-fingerprint-scanner to a latest version 2.5.0 its working fine now. Thanks for your feedback

[2019-01-28 13:06] #74 closed

[2019-01-31 18:14] opolyo01 commented on #73
Thanks, I didn't put permissions.  I was upgrading the version of React Native, and those permissions got blown away inside of info.plist.

[2019-02-01 14:08] #73 closed

[2019-02-01 14:08] #72 closed

[2019-02-01 15:55] viv3kk commented on #45
facing the same issue.
calling FingerprintScanner.release() before authentication is not working.

To add to this:  The issue is when the app is opened for the first time, the user has not attempted to unlock with fingerprint and still it shows failed attempt.
Open the app -> minimize it -> bring the app in foreground -> bang there is an error.

To my surprise I was getting the same error on devic

[2019-02-01 16:04] viv3kk commented on #45
A workaround although a nasty one. Restart the app twice.

`_handleAppStateChange = (nextAppState) => {
    console.log(this.state.appState,nextAppState)

    if (this.state.appState.match(/inactive|background/) && nextAppState === 'active') {
        console.log('App has come to the foreground!');
        RNRestart.Restart();  // Restart app once
    }
    this.setState({appState: nextAppState});

[2019-02-01 16:05] viv3kk commented on #45
A workaround although a nasty one. Restart the app twice.

[code]

[2019-02-05 18:39] dg92 commented on #45
@soumyamishra89 , @phillbaker , @yoavapi any update on above ?

[2019-02-07 15:34] opolyo01 opened #75 "Android - Fingerprint not working after I upload to google play store"
I see fingerprint when I run my debug build, but after uploading to google play store it stops working.  Here's the exception I am getting when doing adb logcat.  I noticed examples and manual setup have a difference in having or not

<uses-permission android:name="android.permission.USE_FINGERPRINT" />

Do I need this line in AndroidManifest.xml?

Here's the exception I get in prod:
[code]

[2019-02-08 10:33] soumyamishra89 commented on #45
@dg92 i tried to create a PR by updating the android library used for this one...but could not make it work as the updated android library uses androidx and if i upgrade to androidx then i have other libraries which do not support it yet and throws error...
So created my own native implementation for now and testing if it works fine.

but i am not a contributor to this library so also waiting for

[2019-03-21 22:56] Dawqss opened #76 "Plugin readme, small mistake for Android"
In readme at point Android 1.

it should not be `Open up android/app/src/main/java/[...]/MainApplication.java ?`

[MainApplication.java](https://github.com/hieuvp/react-native-fingerprint-scanner/blob/master/examples/android/app/src/main/java/com/examples/MainApplication.java)

[2019-03-23 20:42] phillbaker commented on #76
Quite right! Could you do a PR @Dawqss ?

[2019-03-24 04:07] AndroidHive12 opened #77 "Could not find or load main class org.gradle.wrapper.GradleWrapperMain"
I am not able to build and run the examples project which included in this repository. Getting the below-mentioned error. I issued the following command in the terminal to build the project.
react-native run-android
info Starting JS server...
info Building and installing the app on the device (cd android && ./gradlew app:installDebug)...
Error: Could not find or load main class org.gradle.wrapper.

[2019-03-26 02:10] phillbaker commented on #77
Can you share your react native version, java version and other details of your environment?

[2019-03-26 02:11] phillbaker commented on #71
A PR for any of these would be much appreciated!

[2019-03-26 02:15] phillbaker commented on #75
@opolyo01 are you still experiencing this issue?

What line are you referring to?

Similar issues that might apply here:
* https://github.com/hieuvp/react-native-fingerprint-scanner/issues/72
* https://github.com/hieuvp/react-native-fingerprint-scanner/issues/20

Have you confirmed that the appropriate permissions listed in the readme are included in your build?

[2019-03-26 02:16] phillbaker commented on #17
Going to close as there's been to no follow up. Please re-open if there's a reliable reproduction of this bug.

[2019-03-26 02:16] #17 closed

[2019-03-26 02:17] phillbaker commented on #42
Hi all, following up here - is this still an issue?

[2019-04-03 05:19] sanjaymhj commented on #42
Not sure if this is relevant but... https://github.com/hieuvp/react-native-fingerprint-scanner/issues/58#issuecomment-429626522 was my conclusion... haven't found the solution. Please post if you find solution :)

[2019-04-09 01:29] shuffledex commented on #75
same problem here

[2019-04-09 01:32] shuffledex commented on #72
same error here. where we need to change the config?

[2019-04-29 18:54] #76 closed

[2019-05-02 16:31] phillbaker opened #80 "Distinguish Samsung Galaxy S10 face authentication"
There are new class & methods in the android SDK to support different biometric types: https://developer.android.com/reference/android/hardware/biometrics/BiometricManager.html.

It seems backwards compatible with the fingerprint authentication, but it'd be good to distinguish this from fingerprint authentication in https://github.com/hieuvp/react-native-fingerprint-scanner#types-of-biometrics

[2019-05-02 16:32] phillbaker commented on #67
Thanks @icastillejogomez, closing since it seems like the issues is resolved.

[2019-05-02 16:32] #67 closed

[2019-05-02 16:33] phillbaker commented on #75
@shuffledex can you provide any feedback on the posted workarounds?

[2019-05-09 05:42] RavindraMaddukuri opened #81 "Is it supports for android version 8.1"
Hi everyone,
     I have little confusion that react-native-fingerprint-scanner the latest version of Android.

[2019-05-10 02:33] cinder92 commented on #81
same here, is working, but not appearing the finger print scanner

[2019-05-20 11:32] juliettegodyere opened #83 "Android - undefined is not an object (evaluating '_react.PropTypes.oneOfType')"
**Steps to reproduce**

1. Installed the module according to https://www.npmjs.com/package/react-native-fingerprint-scanner
2. Put it into a working simple app I have in a component like so:

[code]

**Expected behavior**
The react-native-fingerprint-scanner module should work

**Actual behaviour**
I get the following errors:

` undefined is not an object (evaluating '_react.PropTypes.oneOfType')`

[2019-05-21 09:19] huyvm commented on #83
Hi,
You can remove PropTypes children in ShakingText component. I will work for you.

[2019-05-21 13:52] phillbaker commented on #83
It does looks like the example is out of date:

https://github.com/hieuvp/react-native-fingerprint-scanner/blob/816ce64538ca93ec458c4fdd9382fc0ac5f2f3cc/examples/src/ShakingText.component.js#L1

Should be

[code]

[2019-05-21 14:11] phillbaker commented on #81
Can you share any errors you're seeing?

[2019-05-23 11:47] #83 closed

[2019-05-23 11:56] phillbaker commented on #64
Just noting that this is a breaking change for gradle 3+

[2019-05-23 12:07] phillbaker commented on #80
This forum link says that it's not currently available in the samsung pass sdk which is what the upstream module uses: https://developer.samsung.com/forum/thread/how-to-use-iris-face-recognition-for-my-app/201/357689?boardName=SDK&startId=zzzzz~&searchSubId=0000000030

[2019-05-24 18:06] lithin opened #84 "Release 2.6.0"
Would it be possible to do a release to get the latest changes into prod?

[2019-05-26 11:54] phillbaker commented on #84
Definitely. Will get it out in the next few days

On Fri, May 24, 2019 at 2:06 PM Anna Doubkova <notifications@github.com>
wrote:

[2019-05-27 08:52] lithin commented on #84
Thank you 🙏

[2019-05-28 14:31] #84 closed

[2019-05-29 08:13] huyvm opened #85 "error when build with androidX version"

[2019-05-29 09:05] lithin opened #86 "Android build crashes after 2.6.0"
After upgrading to 2.6.0, we can't compile the app anymore. I was worried it might be due to my additions and tried locally to remove it - but the build is still broken :(

This is the trace:

[code]

Android Studio claims it can't now find
[code]

I realise these have been there for 2 years but have there been any changes shipped in 2.6.0 that could've broken this?

[2019-05-29 11:07] phillbaker commented on #85
Can you provide a stack trace? What version of the library are you using?

On Wed, May 29, 2019 at 4:13 AM Huy Vo <notifications@github.com> wrote:

[2019-05-29 11:16] phillbaker commented on #86
2.6.0 also included:
* a version bump of that library
* safeExtGet to pull in the library version (#78)

Can you try specifying the previous library version (1.2.1) as a project
property in your gradle file?

Might be related to #85

On Wed, May 29, 2019 at 5:05 AM Anna Doubkova <notifications@github.com>
wrote:

[2019-05-30 00:32] phillbaker commented on #86
It looks like this can be worked around by adding `fingerprintidentify=1.2.1` to `android/gradle.properties`.

However, I did some research and 1.2.6 is not compatible unless you're using androidx - this isn't very clear from the version number or the changelog (it's a break change seems like). I'm going to revert the change and release a new version. Sorry for the hassle.

[2019-05-30 00:32] phillbaker commented on #85
Closing as a dupe of https://github.com/hieuvp/react-native-fingerprint-scanner/issues/86 - there's more information there.

[2019-05-30 00:32] #85 closed

[2019-05-30 08:19] lithin commented on #86
Thanks @phillbaker, I'll wait for the next release :)

[2019-05-30 12:30] phillbaker commented on #86
Fixed in https://github.com/hieuvp/react-native-fingerprint-scanner/commit/fae021cec86f47257b36e7d46a811bfa8ccff721

[2019-05-30 12:31] #86 closed

[2019-05-31 12:35] #77 closed

[2019-06-12 08:49] llduchuy91 opened #87 "Detect if device add/remove a fingerprint/touchid"
Can you provide a method to detect if user has add/remove a fingerprint/touchid from list saved ?

[2019-06-19 19:32] andrey-shostik opened #88 "Failed to transform artifact "fingerprintidentify.aar" (androidx support)"
I can't build android app. I receive the error https://paste.ofcode.org/4d53TWRmreQ7NTLr46iVX5
I started to receive this error after adding following to `gradle.properties`
[code]
my react-native config
[code]

[2019-06-19 19:42] amandamussio commented on #88
Same problem here!

[2019-06-20 09:14] lucky10 commented on #88
Same issue

[2019-06-20 22:03] phillbaker commented on #88
I suspect this is because the underlying android library doesn't support androidx until a version after what's specified on the currently released version.

Can you try adding to your `android/gradle.properties`:
[code]

See https://github.com/hieuvp/react-native-fingerprint-scanner/issues/86#issuecomment-497156584 for the inverse issue.

[2019-06-21 22:29] phillbaker commented on #88
@lucky10 @amandamussio @andrey-shostik did the above fix work for anyone?

[2019-06-22 05:19] amandamussio commented on #88
Not's worked for me. :(

[2019-06-24 08:14] praveens96 commented on #88
getting same issue:
Could not resolve all files for configuration ':app:debugCompileClasspath'.

[2019-06-24 09:09] praveens96 commented on #86
getting
ReactNativeFingerprintScannerModule.java:11: error: cannot find symbol
import com.wei.android.lib.fingerprintidentify.base.BaseFingerprint.FingerprintIdentifyExceptionListener;

[2019-06-24 13:17] praveens96 commented on #85
gettting below error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:preDebugBuild'.

[2019-06-26 17:00] phillbaker commented on #87
I don't understand the question/ask, can you give an example?

Is this potentially a duplicate of https://github.com/hieuvp/react-native-fingerprint-scanner/issues/47 or https://github.com/hieuvp/react-native-fingerprint-scanner/issues/66?

[2019-06-27 02:07] ilotte99 commented on #88
same issue with me

[2019-07-03 23:48] Thomazella opened #89 "react-native 0.60 android x migration"
I'm using version 2.6.0 of the libraty because it seems to have the android native lib updated to a version that supports androidX, but I still run into a build error (also happens on 2.6.1):

[code]

i'm updating to 0.60, using jetifier. Help or guidance is much appreciated 🙏

[2019-07-04 00:31] phillbaker commented on #89
Dupe of #88?

On Wed, Jul 3, 2019 at 7:48 PM Raphael Thomazella <notifications@github.com>
wrote:

[2019-07-04 02:20] Thomazella commented on #89
@phillbaker yeah it's very related. Error message is different tho so I opened a new issue. I'm not an android dev so it may as well be the same thing underneath

[2019-07-04 21:31] phillbaker commented on #89
@Thomazella can you include the output of `react-native info`?

[2019-07-06 20:03] phillbaker commented on #88
Hey all - just to clarify, my understanding is that react-native v0.60 is the first one compatible with androidx? The release notes for 0.60 seem to indicate that too: https://facebook.github.io/react-native/blog/2019/07/03/version-60#androidx-support

[2019-07-06 20:28] phillbaker commented on #66
To clarify - `.release()` needs to be called for android. I'll update the example to clarify this.

[2019-07-07 12:27] phillbaker commented on #81
Going to close for now as no error outputs or stacktraces have been included. We've had success using this library in the emulator on android 9.0 and have usages of this on real devices with 8.0, 8.1 and 9.0.

[2019-07-07 12:27] #81 closed

[2019-07-07 20:23] phillbaker commented on #89
Going to consolidate this into #88 - we'll support androidx on react native 0.60+ only.

[2019-07-07 20:23] #89 closed

[2019-07-07 20:24] phillbaker commented on #87
Closing as there hasn't been a followup. I believe this is a dupe of #66.

[2019-07-07 20:24] #87 closed

[2019-07-07 20:25] phillbaker commented on #47
I believe this is a dupe of #66, going to close as there hasn't been any follow up.

[2019-07-07 20:25] #47 closed

[2019-07-07 20:41] phillbaker commented on #88
Hi all, I've pushed initial support for react-native v0.60 and androidx on a branch, it's here: https://github.com/hieuvp/react-native-fingerprint-scanner/tree/update/rn-60

If you'd like to try it out, you can update your package.json to point to it via:
[code]

With the changes to native dependencies, I had to "unlink" the android side, but not the iOS. The diff includes changes to the example p

[2019-07-08 13:36] Thomazella commented on #88
Guy from #89 here. My react-native-info:
[code]

[2019-07-08 14:40] Thomazella commented on #88
This has unblocked me and I've successfully compiled & ran my app on react-native 0.60 💯

[2019-07-08 16:09] phillbaker commented on #88
Thanks all - going to re-open so that we can track progress until the above work is merged.

[2019-07-09 11:30] magnusideas commented on #60
test

[2019-07-10 09:15] reyraa opened #90 "Error thrown on some devices including Samsung"
### Description
I get this error when running on OnePlus 6:

and

This is the source or 3K+ crashes on my app last month. Is this a dependency which I should add manually or it should come following your installation instructions?

[2019-07-10 13:25] #66 closed

[2019-07-15 18:03] carloscuatin commented on #64
some progress with this ?, I see that in `react-native-fs` launched a version with this arrangement and in the readme they clarify which one to use according to the version of react native

[2019-07-16 01:03] phillbaker commented on #90
Hey @reyraa sorry to hear you're having issues.

Can you include the output of `react-native info`? And what version of this library are you using? Can you provide some context around the 3k+ crashes - what proportion of sessions is that?

[2019-07-18 11:29] phillbaker commented on #42
Going to close as it seems like a configuration issue and not an issue with this library.

[2019-07-18 11:29] #42 closed

[2019-07-24 17:14] Thomazella commented on #88
@phillbaker by `figure out link/unlink upgrade path for ios vs. android` do you mean write a guide?

[2019-07-26 20:29] matheusleite commented on #86
@praveens96 get the same error here
`cannot find symbol class FingerprintIdentifyExceptionListener`

[2019-08-06 11:04] grabbeh opened #91 "Include express LICENSE.md file"
Hi there - first, thanks for the great package. Second, I assume MIT is the license applied to this package in line with the package.json, however it would be really useful if an express LICENSE.md file is included in the repository. This is so detail around copyright date and author associated with the license are made completely clear (including for some automated license detection programmes).

[2019-08-07 09:43] imdaniele commented on #62
Any news about this?

I have the same exact problem.
I followed all the instructions, and this sometimes happens.

I also used another biometric library in the **catch** block of **isSensorAvailable()** and the other library says that Fingerprint is correctly available and it also authenticates.

[2019-08-12 11:24] phillbaker commented on #88
CLosed with 7e828060e30274c6def68bf5b01dd8af28954586

[2019-08-12 11:24] #88 closed

[2019-08-12 23:04] phillbaker commented on #91
Hi @grabbeh, I'm not the original author of this library, but the license is also noted in the README: https://github.com/hieuvp/react-native-fingerprint-scanner#license.

I'm not against adding a license file - I'm not sure who would be the copyright holder or what year to use though

[2019-08-13 14:23] grabbeh commented on #91
Ah yes, so it is - thanks for pointing that out! Considering there are multiple contributors, you could just say 'React-native-fingerprint-scanner' contributors' as the copyright holder or even just 'Various'.

[2019-08-30 13:17] phillbaker commented on #90
Bump @reyraa any more information you can provide here?

[2019-08-30 14:13] reyraa commented on #90
Sorry, I got busy with other features and didn't get back to this. I'll provide more details during next week.

[2019-09-08 21:17] phillbaker commented on #75
I believe this was the same underlying issue as https://github.com/hieuvp/react-native-fingerprint-scanner/pull/92.

[2019-09-08 21:18] #75 closed

[2019-09-12 13:35] Volksfeld opened #96 "[iOS] (FaceID) Missing animation. Try FaceID again button not working."
The checmark animation does not show in the faceID authenticator. When inputing an non-matching face, the option Try FaceID Again does not work, only the cancel option.
I'm willing to make a PR, but don't know where to start on the Obj-C code

[2019-09-19 17:31] Volksfeld commented on #96
I've worked it out:
There's a problem with FaceID animation on iOS simulator, everything works fine on a device.

[2019-09-19 17:31] #96 closed

[2019-10-04 09:10] LasseSLambertsen opened #98 "[iOS] (TouchID) Dialog sometimes not showing on iOS 13"
Hi, I've just implemented this library, but experiencing some problems on iOS 13.

The TouchID dialog, doesn't always show, but when touching the fingerprint scanner, it quickly shows and authenticates.

I'm running newest RN 0.61.1 and react-native-fingerprint-scanner 3.0.0

[2019-10-04 11:15] phillbaker commented on #98
Thanks for opening an issue. Is this happening on a real device or the
simulator? What model is it?

On Fri, Oct 4, 2019 at 5:10 AM LasseSLambertsen <notifications@github.com>
wrote:

[2019-10-04 12:03] LasseSLambertsen commented on #98
Happening on a real iPhone 8

[2019-10-04 15:15] ItsNoHax commented on #98
Also running into this: I assume it's to do with some new iOS 13 change.

[2019-10-06 16:22] phillbaker commented on #98
It looks like this is due to an upstream bug in iOS 13 (so not something this library can address). Sources:
* https://stackoverflow.com/questions/58195407/on-ios-13-the-biometric-authentication-alert-does-not-show-on-older-phones
* https://9to5mac.com/2019/09/30/ios-13-iphone-touch-id-login-bug/

[2019-10-07 09:59] OneStromberg commented on #75
Have the same problem here, reproduces when there aren't any fingerprints on the phone.
@phillbaker I increased **compileSdkVersion** and **buildToolsVersion** of the lib in _build.gradle_, but still can see the issue.
It's closed, so I hope that I'm doing something wrong...

[2019-10-15 11:24] Kiranyellu opened #99 "IOS finger print is not working"
Hello,

Here is the problem with IOS fingerprint scanner
I am testing fingerprint scanner in iPhone 6S plus here I am not getting any thing.

React-Native: 0.59
React : 16.8
react-native-fingerprint-scanner : 2.6.1

[2019-10-15 16:04] phillbaker commented on #99
Is this a dupe of
https://github.com/hieuvp/react-native-fingerprint-scanner/issues/98

On Tue, Oct 15, 2019 at 7:24 AM kiran yellu <notifications@github.com>
wrote:

[2019-10-17 14:14] #71 closed, assigned to nobody

[2019-10-21 08:25] CochiorasBogdan opened #102 "Incorrect Typescript type for isSensorAvailable and onAttempt"
Hello, the promise response type should be `Biometrics` instead of `string` at the following line:
[https://github.com/hieuvp/react-native-fingerprint-scanner/blob/9a698e2a137188a220d09c5259aa2de1e88944b7/index.d.ts#L90](url)

Alos the typing for `onAttempt` is incorrect since it can return an error ('UserCancel', 'UserFallback', etc.) like described in the documentation so the correct typing for:

[2019-10-21 12:44] salomaoluiz commented on #102
Hi, I send a PR to fix this problem, now we just need wait the accept.

[2019-10-22 14:10] phillbaker commented on #98
There are some reports that iOS 13.1.3 fixes this: https://github.com/EddyVerbruggen/cordova-plugin-touch-id/issues/84#issuecomment-544321805

[2019-10-22 14:11] #102 closed

[2019-10-22 14:12] phillbaker commented on #102
Fixed in #103

[2019-10-22 14:12] ItsNoHax commented on #98
Yes, I am also seeing this being fixed with iOS 13.1.3

[2019-10-23 13:22] Kiranyellu commented on #99
Does this package work for FaceID in IOS? Please let me know

If it is working can you share me the sample code for it  then I will do it on my side

Thanks

[2019-11-01 02:54] blueberry6401 opened #106 "Is there a way to get biometric method supported even if FaceID/TouchID/Fingerprint is not enrolled?"
Hi,
Currently isSensorAvailable() returns the biometric method only if user has enrolled.
Is there any way to get device biometric support type even if they didn't enroll?

[2019-11-05 02:18] phillbaker commented on #98
Going to close, thanks all!

[2019-11-05 02:18] #98 closed

[2019-11-05 02:45] phillbaker commented on #106
@blueberry6401 it should be returned if a biotmetric device is available, e.g.

https://github.com/hieuvp/react-native-fingerprint-scanner/blob/c0065278b4f57c25115b0f3a0f184a722f45eae8/ios/ReactNativeFingerprintScanner.m#L26-L27

Can you give some more details on the device/emulator/simulator or general setup of where you're seeing this issue?

[2019-11-05 04:33] codevoler commented on #85
- add:
android.useAndroidX=true
android.enableJetifier=true
- use package version: 3.0.0 ("react-native-fingerprint-scanner": "3.0.0")
- migrate to androidx
DONE

[2019-11-07 09:35] aaroncornelissen opened #108 "Feature request: Handle canceling fingerprint on inscreen fingerprintreaders (Like Samsung S10)"
I have implemented the react-native-fingerprint-scanner in my application and it works great. I only discovered an event on the Samsung galaxy S10 with a inscreen fingerprintreader (android 9).

If the fingerprintlistner starts the phone shows a popup (see screenshot). But I can't catch or handle the event when the cancel ('Annuleren') button is pressed. Users that want to cancel the fingerprint s

[2019-11-12 18:23] phillbaker commented on #108
@aaroncornelissen very interesting, thanks for sharing.

It seems like on these devices, the best thing would be to not show the `FingerprintPopup` on android, but to do that, we'd need to know that the device is providing the popup. It might be work looking at https://github.com/anitaa1990/Biometric-Auth-Sample to see if the android sdks provided there can be integrated into this library. I don't

[2019-11-13 08:18] aaroncornelissen commented on #108
@phillbaker thanks for your response. I have viewed the example you send, but I am a react-native developer with no Java experience, so I cannot test if it works. When I looked at that example I noticed something. Somewone commented: "In Galaxy S10 there is a biometric screen with a Cancel button. But clicking does not work to cancel the signal to close DialogPrompt", so I don't think this example

[2019-11-17 17:42] phillbaker commented on #90
@reyraa do you have code stripping (proguard) enabled?

[2019-12-09 16:59] phillbaker opened #110 "Support Biometric Prompt API (Google Pixel 4 Face Unlock)"
In order to support Google Pixel's new Face Unlock functionality, the new [BiometricPrompt](https://developer.android.com/reference/android/hardware/biometrics/BiometricPrompt) API would need to be supported.

It looks like this library may be used: https://mvnrepository.com/artifact/androidx.biometric/biometric. More information:
* https://android-developers.googleblog.com/2019/10/one-biometric-a

[2019-12-09 17:47] chris-griffin commented on #110
Here is a relevant similar PR in another package: https://github.com/SelfLender/react-native-biometrics/pull/54/files#

This troubleshooting tip seems like it will be relevant as well

[>  Because of this library's dependency on androidx.biometric:biometric:1.0.0 it can cause transitive dependency resolution to change on certain version of React Native and androidx.swiperefreshlayout may no longer

[2019-12-11 11:25] jenskuhrjorgensen commented on #81
Hi @phillbaker
I ended here because of your README phrase:

Does this mean that you don't support Android versions newer/higher than 6.0? Your previous comment on this issue indicates otherwise.

[2019-12-11 15:21] phillbaker commented on #81
@jenskuhrjorgensen all Android versions are supported!

Google has slowly been adding better support for fingerprint/biometric (see https://github.com/hieuvp/react-native-fingerprint-scanner/issues/110) both in Android itself and as officially supported APIs. However, older androids did rely much more on these external libraries, which is why it's called out.

[2019-12-12 13:50] razzbee opened #111 "ios 13.3 , faceID try again not working"
On iPhone 11 (iOS 13.3) stimulator, the try again on the faceID prompt doesn't work after fail, any solution??

[2019-12-19 18:48] phillbaker commented on #111
Hi @razzbee, can you include the output of `react-native info`? And what version of this library are you using?

[2019-12-27 15:49] Shivangi2909 opened #112 "Fingerprint scanner doesn't work when device locked"
When the device is locked on the fingerprint scanner screen and then unlocked again without closing application, fingerprint scanning doesn't work

[2020-01-01 10:10] samaneh-kamalian opened #113 "if user didn't scan finger ,onAttempt function call"
if user didn't scan finger ,onAttempt function call.

[2020-01-02 14:37] Ramaraju1992 opened #114 "Language Translation for Cancel Text and Bio metric type text"
Hi,
We are trying to change language translations for **description** in confirm bio metric  popup using
[code]
it is working as expected.
And when we try to change the language for _cancel_ button text, we are unable to find where we can change.
please help us to change language translations for  **cancel** button text and **Bio Metric** type text

[2020-01-02 18:52] phillbaker commented on #113
@samaneh-kamalian can you include the output of `react-native info`? And what version of this library are you using?

[2020-01-02 18:54] phillbaker commented on #112
What devices does this happen on?

Is this a dupe of https://github.com/hieuvp/react-native-fingerprint-scanner/issues/108 (specific to Samsung S10)?

[2020-01-02 18:57] phillbaker commented on #114
To confirm @Ramaraju1992, you're using an iOS device? If so, the prompt is system generated and only accepts a description, not text for the action buttons. Those buttons should be translated as per the system language, so whatever language the user has set on their phone will be used.

[2020-01-02 18:59] phillbaker commented on #111
Hi @razzbee, since I haven't heard back with any further details and there is no reproducible example attached to this issue, I'm going to close this issue for now. Please re-open if if you can provide more information.

[2020-01-02 18:59] #111 closed

[2020-01-02 20:39] phillbaker commented on #112
@Shivangi2909 this may also be a dupe of https://github.com/hieuvp/react-native-fingerprint-scanner/issues/66, if so, please see https://github.com/hieuvp/react-native-fingerprint-scanner/commit/894bbade989b4fc8eaee3619eeca9e365f0abf33 for an example of fixing the caching issue on android.

[2020-01-03 05:35] Shivangi2909 commented on #112
@phillbaker I tested it on Samsung Galaxy S6 and I don't think its a caching issue

[2020-01-03 14:13] Ramaraju1992 commented on #114
Hai @phillbaker ,
Yes i am facing issue in iOS device only.
in android i was able change texts as expected.
thanks for update.

[2020-01-03 16:29] #114 closed

[2020-01-03 16:33] phillbaker commented on #50
I'm going to close this issue as outside of the scope of this library.

I did find this article which documents building a native interface to fingerprint scanners: https://medium.com/touch4it/fingerprint-external-scanner-with-usb-database-sdk-64c3ec5ea82d. That native code might be able to be integrated into a similar interface as this library, however, it would be hard to test and support as eac

[2020-01-03 16:33] #50 closed

[2020-01-03 20:10] phillbaker commented on #112
Can you be more specific about "doesn't work"?

* Does this happen with the example app and code in this repo? If not, can you provide a test case to reproduce?
* Can you include a screenshot?
* Are there any error/debug logs?

[2020-01-04 17:01] phillbaker commented on #106
@blueberry6401 can you provide any of the details requested above? Otherwise, I'll close this issue as lacking details/reproduction steps.

[2020-01-11 05:17] samaneh-kamalian commented on #113
System:
    OS: Linux 5.0 Ubuntu 18.04.3 LTS (Bionic Beaver)
    CPU: (4) x64 Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz
    Memory: 1.14 GB / 7.68 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 8.10.0 - /usr/bin/node
    Yarn: 1.21.1 - /usr/bin/yarn
    npm: 6.13.1 - /usr/local/bin/npm
  SDKs:
    Android SDK:
      API Levels: 23, 25, 26, 27, 28, 29
      Build Tools: 26.0.2, 27.0.3, 28.0.3

[2020-01-11 08:29] samaneh-kamalian commented on #113
there is no problem in a mobile with android version 8.
but in android 6.0.1 this problem is exist

[2020-01-15 09:09] samaneh-kamalian commented on #113
anyone can help me?

[2020-01-16 06:40] blueberry6401 commented on #106
Hi, sorry for the late reply:
Here are my reproduction steps:
1. iOS simulator iPhone 11, ios 13.3, without any enrolled face id.
![image](https://user-images.githubusercontent.com/7337535/72499890-ac318400-3865-11ea-8230-b315a288b554.png)
2. Call FingerprintScanner.isSensorAvailable()
3. Got `FingerprintScannerNotEnrolled: Authentication could not start because Fingerprint Scanner has no enrolled

[2020-01-26 15:57] rajaishwary opened #116 "[v4.0.0] reject is not defined"
"react": "16.9.0",
    "react-native": "0.61.5",
    "react-native-fingerprint-scanner": "4.0.0" [downloaded zip]

@fkotsian tried lib new version with build tools 29. face unlock didn't come up and got below issue after successful fingerprint scan.
![image](https://user-images.githubusercontent.com/7762321/73137768-e549cf80-4081-11ea-8dee-f298f81b2f90.png)

[2020-01-27 17:29] fkotsian commented on #116
@rajaishwary Ty I will take a look

[2020-01-27 20:09] rajaishwary commented on #116
@fkotsian I have checked the code, I think while refactoring the code. it was missed. I will create a PR for this small fix, so new release will be at working state.

[2020-01-28 16:42] #116 closed

[2020-01-28 17:50] fkotsian commented on #116
@rajaishwary Thanks for your help, 4.0.0 includes your PR and is available on NPM: https://www.npmjs.com/package/react-native-fingerprint-scanner/v/4.0.0

[2020-01-28 17:56] rajaishwary commented on #116
Great, thanks for the update @fkotsian :)

[2020-01-29 04:14] fkotsian commented on #110
Closed via #115

[2020-01-29 04:14] #110 closed

[2020-01-30 15:21] maoapp opened #118 "The implementation android example is wrong"
The android example  has three errors  in the componentDidmount
the functions are being called in this way:
`  componentDidMount() {
    if (requiresLegacyAuthentication()) {
      authLegacy();
    } else {
      authCurrent();
    }
  }`

instead of use the context (this)

`  componentDidMount() {
    if (this.requiresLegacyAuthentication()) {
      this.authLegacy();
    } else {
      this.aut

[2020-02-01 05:01] bryvin opened #119 "Allow setDeviceCredentialAllowed to be configurable"
`setDeviceCredentialAllowed` is required to allow fallback systems (PIN, Pattern, etc) to be used by user's choice. Is there a way we can get this to be configureable?

See here: https://github.com/hieuvp/react-native-fingerprint-scanner/blob/4a22b4dea91b437d6ebdb5f502381df28bcda2be/android/src/main/java/com/hieuvp/fingerprint/ReactNativeFingerprintScannerModule.java#L126

[2020-02-02 15:23] phillbaker commented on #118
Hello, thanks for opening an issue. Are you referring to the example in the
README? Would you like to submit a PR with the corrections?

On Thu, Jan 30, 2020 at 10:21 AM MaoApp <notifications@github.com> wrote:

[2020-02-04 01:26] phillbaker commented on #119
Hi @bryvin typically that would mean that a biometric authentication mechanism was not used, which seems to be contrary to the point of this library. If I'm understanding correctly, it means that if a device password is compromised then an actor could authenticate to an app by using this fallback, changing this type of authentication from "what you are" to "what you know".

However, ultimately it'

[2020-02-04 01:30] bryvin commented on #119
While I do understand that, the BiometricPrompt.Builder from Android specifically has this as an option as that is how you would could have a fallback. This library already supports a fallback on iOS so this would more or less bring them to feature parity.

Obviously I would suggest having it false by default and up to the App's developer to allow such authentication.

[2020-02-04 02:17] phillbaker commented on #119
To clarify, the current library only supports falling back to a method provided by the app (ie the app password), not an OS-based fallback. https://github.com/hieuvp/react-native-fingerprint-scanner/pull/82 would introduce this functionality for iOS, but it has not been merged.

[2020-02-04 02:26] bryvin commented on #119
Interesting.. so that is what this configuration is for? https://github.com/standardnotes/react-native-fingerprint-scanner#authenticate-description-fallbackenabled--ios

With our app if you fail it Prompts to enter a password, but immediately tries Face ID again. After you fail a few more times it prompts an option to enter Device Passcode.. maybe that is built directly into iOS Face ID support?

[2020-02-05 21:52] maoapp commented on #118
@phillbaker yes , I refer to the example and of course I will create the PR in order to fix this, thanks.

[2020-02-05 22:12] maoapp commented on #118
https://github.com/hieuvp/react-native-fingerprint-scanner/pull/122

[2020-02-06 04:08] phillbaker commented on #118
fixed in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/122

[2020-02-06 04:08] #118 closed

[2020-02-10 14:22] Achilas opened #124 "Issues with biometric authentication callbacks on OnePlus 7 Pro devices."
Failed attempts to authenticate using OnePlus 7 Pro under screen fingerprint scanner do not trigger any error catching functions. Tested on 2 devices, same outcome. Using following code:

`
FingerprintScanner.authenticate({
      description: 'Authenticate with Biometrics',
      onAttempt: error => {
        // NOT CALLED at all
      },
    })
      .then(() => {
         // CALLED if success

[2020-02-12 23:22] NigolBista commented on #40
Hello Everyone,
I followed the installation instruction but the app crashes when i press on the authentication icon.
Whenever `FingerprintScanner.authenticate` is called the app crashes.

`FingerprintScanner
      .authenticate({ description: this.props.description || 'Log in with Biometrics' })
      .then(() => {
        this.props.onAuthenticate();
      });`

I and doesn't give any errors.

`R

[2020-02-17 06:20] cq0702 opened #126 "Device has fingerprint but still got FingerprintScannerNotSupported: Device does not support Fingerprint Scanner."
First when using FingerprintScanner .isSensorAvailable(),I got the 'touch id'. Then when I scan the error fingerprint for three times,and then click the default view item Enter password. It show nothing.  And after that,  when using FingerprintScanner.isSensorAvailable(),it returns FingerprintScannerNotSupported: Device does not support Fingerprint Scanner.
Maybe I want to get the 'touch id'. How

[2020-02-20 10:58] MohamedKhalidCsd commented on #126
Same issue here!! i think it should returns AuthenticationTimeout error type

[2020-03-02 04:55] arun537 commented on #106
Having the same issue. please help even after wrapping with try-catch is not helping to catch the error and making the iOS to crash each time.

[2020-03-06 07:23] xclidongbo opened #127 "pod can`t install"
RN0.59.10
react-native-fingerprint-scanner@2.6.2
pod install
[code]

[2020-03-06 14:05] soumyamishra89 opened #128 "make setNegativeButtonText configurable"
setNegativeButtonText is set to "Cancel" and is not configurable on Android biometrics prompt.
I can make a PR for this, if anyone else do not have the time for it.

[2020-03-06 14:29] mikehardy commented on #128
".. should be ..." in open source usually should be re-phrased to "would you mind if I made a PR for .. so it ...", usually about as fast as logging an issue, and with https://github.com/ds300/patch-package you can adopt your change in a safe way immediately while the PR works its way through approval

[2020-03-06 14:38] soumyamishra89 commented on #128
That makes lot of sense. Thank you for the info. I will update accordingly.

[2020-03-09 17:06] donnes commented on #124
Same here

[2020-03-09 17:52] phillbaker commented on #124
Can you try using a 3.x release?

On Mon, Mar 9, 2020 at 1:06 PM Donald Silveira <notifications@github.com>
wrote:

[2020-03-31 04:59] deorukhkarchaitanya commented on #124
Same problem here. Errors are not being caught on Oneplus 7T either. Can't catch failed attempts and ask for a retry.

Works fine on a Pixel 3 simulator.

[2020-04-24 02:28] sumerpatel opened #132 "Android app getting crashed after updating package to 4.0.0"
After updating react-native-fingerprint-scanner package to latest version android app started getting crashed. Attached a screenshot of the error.

Here is my code : -

error: ReactNativeFingerprintScanner.authenticate got 2 arguments, expected 3

        onAttempt: this.handleAuthenticationAttempted,
      })
        .then(() => {
          this.handleSuccess(labels);
        })
        .catch((e

[2020-04-24 03:35] mikehardy commented on #132
if you update and start having problems, always try `npx react-native-clean-project` first to blow out any of the caches that might have stale version code in them

[2020-04-24 04:40] sumerpatel commented on #132
this didn't work

[2020-04-24 15:29] mikehardy commented on #132
How did it work when you cloned this repo and used the example? If it works, your local project has a problem, but the module is fine, and it's not a bug, it's a project problem you'll have to figure out

[2020-04-25 01:46] sahil290791 commented on #132
@sumerpatel what is RN version, Platform ios? android? and OS version?

[2020-04-25 02:11] sumerpatel commented on #132
@sahil290791  RN : 0.62.2, Platform - Android, OS version - 10

[2020-04-27 20:22] NaNtrack commented on #132
The same error with:
Android 28, 29, R
react-native: 0.59.10

[2020-04-27 21:18] NaNtrack commented on #132
i had the old bundle and map files in:

[code]

after recreating those files start working again

`react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --sourcemap-output android/app/src/main/assets/index.android.map --assets-dest android/app/src/main/res/`

[2020-04-27 21:56] mikehardy commented on #132
@NaNtrack do not do that! Never copy built assets into the src tree.

This was the source of many problems, a PR directly into react-native, and then a revert of that PR. There is a correct way to do the bundle, and this is it: https://github.com/facebook/react-native/issues/22234#issuecomment-504721069

[2020-04-27 22:53] NaNtrack commented on #132
we dont have those files versioned on git, so no worries...

[2020-04-28 00:22] mikehardy commented on #132
If you read that thread you'll realize it causes problems in local builds frequently, like you experienced. I also had those files .gitignore'd but it still blows up your local environment and/or masks changes you make (like software version upgrades).

If that's how you want to develop, okay, but given there's a posted solution that works and the way you're doing it (and the way I was doing it) w

[2020-04-28 19:16] NaNtrack commented on #132
thanks for the advice, we will find a better solution to avoid this problems in the future

[2020-04-29 10:11] sumerpatel commented on #132
Created a new RN project with version 0.61.5 and it still didn't work.

[2020-04-29 10:24] mikehardy commented on #132
new project != clone repo + use example, I'm very curious if the example in this repo works
if it does, then what is the difference between the example and a fresh project?

[2020-04-30 02:37] phillbaker commented on #128
Fixed in  #120

[2020-04-30 02:37] #128 closed

[2020-04-30 02:44] phillbaker commented on #127
The podspec was only added in v3 (https://github.com/hieuvp/react-native-fingerprint-scanner/commit/7e828060e30274c6def68bf5b01dd8af28954586). You'll need to upgrade react-native and update to a more recent version of the library.

Closing for now, please re-open if there are other issues.

[2020-04-30 02:44] #127 closed

[2020-04-30 08:35] luukvnes commented on #124
I have the same issue, has anyone found a fix already?

[2020-05-01 13:30] sushant-scalex commented on #124
Facing the same issues on OnePlus 6T, Same code is working on Moto G4+

Lib version: 4.0.0
RN version: 0.61.5

[2020-05-05 02:33] #132 closed

[2020-05-07 01:41] phillbaker commented on #124
What version of android is being used on these devices? This seems to be a widespread issue with the device and OS, not this library: https://forums.oneplus.com/threads/fingerprint-unlock-not-working-on-third-party-apps.1152724/

[2020-05-09 14:15] phillbaker commented on #126
Is this still happening on recent versions of the library? If so can you provide the output of `react-native info`, the version of this library you're using and what hardware/simulator you're seeing this on.

[2020-05-09 14:16] phillbaker commented on #64
Fixed in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/104

[2020-05-09 14:16] #64 closed

[2020-05-13 10:36] iagormoraes opened #137 "IllegalArgumentException - FragmentActivity must not be null"
## Description
Hello, I'm having issues with the fingerprint on some devices in android 9 and 10, the stack trace points to the instance of BiometricPrompt.

## Package Version
react-native: 0.62.2
react-native-fingerprint-scanner: ^4.0.0

## Affected devices
`Redmi Note 7` `Huawei P20 lite` `ZTE Z717VL (lavender)` `Huawei Honor 9 Lite (HWLLD-H)` `Samsung Galaxy S8+ (dream2lte)` `Samsung Galaxy A3

[2020-05-16 16:52] ali-chaudhry opened #138 "Can we use the fingerprint to verify with third part API?"
I am building an application where we will confirm the authenticity of use via fingerprint with our record of fingerprints. Can we perform that while using this package?

[2020-05-16 17:03] mikehardy commented on #138
Unless I read all the documentation wrong, the actual biometric information (the real fingerprint) is one-way stored on the device, and all we are doing is asking the hardware to compare, we have no access whatsoever to the biometric data, only comparison results.

If I'm wrong, I'd love to know because we potentially have this use case as well but I'm not aware of a way to satisfy it

[2020-05-17 16:39] phillbaker commented on #138
I believe this is similar to https://github.com/hieuvp/react-native-fingerprint-scanner/issues/54 can you take a look at that discussion and see if it answers the question?

[2020-05-18 07:27] shubhamverma27 commented on #124
same here

[2020-05-18 13:18] mikehardy commented on #124
@shubhamverma27 did you mean to use a reaction :+1:  or similar? Or do you have answers to Phil's question above to move the discussion forward?

[2020-05-18 17:46] shubhamverma27 commented on #124
Sorry, I meant I have the same issue on OnePlus 7 and it seems to be happening with only the new native Android BiometricPrompt lib and works fine in apps which use legacy.
For ex. I put a wrong finger on the reader, the reader just disappears without any callback anywhere.

[2020-05-18 19:04] mikehardy commented on #124
@shubhamverma27 there were no software versions mentioned in your comment?

[2020-05-20 13:17] SMJ93 opened #139 "Sometimes the modal doesn't show on iOS and Android"
Hi, first of all great library. Managed to get it working in no time!

Is there a reason the modal doesn't always show? It triggers the onSuccess callback but I never see the modal. This happens on both iOS and Android.

I am using:  version `5.0.0` with react-native `0.62.2`

I am using functional components:

[code]

[2020-05-22 11:34] #139 closed

[2020-05-25 09:28] Yuvi7447 commented on #124
@mikehardy Actually, for devices having in-display fingerprint scanner e.g., OnePlus 7T, as @Achilas mentioned error callback does not return anything for invalid fingerprint. As i tested it on OnePlus 7T device, after 5 invalid attempt error callback does work with error response.
I tested it with both the below mentioned version.
**Library version:** 3.0.0
**Library version:** 5.0.0

[2020-05-25 09:30] Achilas commented on #124
@Yuvi7447 7T works correctly for me, 7T PRO does not.

[2020-05-25 09:36] Yuvi7447 commented on #124
@Achilas Do you get error response for Invalid Fingerprint on every single attempt?

[2020-05-25 09:40] Achilas commented on #124
@Yuvi7447 for 7/7T yes, for 7/7T PRO I get no response at all on any error callback.

[2020-05-25 09:45] Yuvi7447 commented on #124
@Achilas Can you pl confirm which lib version you are using, is it 4.0.0?
Have you tried out 5.0.0??
Also, can you pl share code snippet for FingerprintScanner.authenticate() method??

[2020-05-25 10:09] shubhamverma27 commented on #124
Hi @mikehardy,
I tried both version 4.0.0 and version 5.0.0 and my device is OnePlus 7t.
The in-display fingerprint comes up and works fine if I put in the correct one but in case I use a wrong fingerprint then it just disappears without any callback anywhere nor any error. (in just one try)
To display it again, I have to re-initialise the call.

[2020-06-01 12:03] SMJ93 commented on #137
I am getting the same on "react-native-fingerprint-scanner": "5.0.0", with a Samsung S9:

![Screenshot 2020-06-01 at 13 02 15](https://user-images.githubusercontent.com/2145641/83407236-33902600-a408-11ea-8cfb-dd4090f4fc4b.png)

[code]

[2020-06-01 12:38] iagormoraes commented on #137
The issue is happening [on the instance of BiometricPrompt, line 109](https://github.com/hieuvp/react-native-fingerprint-scanner/blob/master/android/src/main/java/com/hieuvp/fingerprint/ReactNativeFingerprintScannerModule.java#L109) where FragmentActivity must not be null

[2020-06-03 05:52] bychung opened #140 "suggestion: resolve 'result' not 'true' when authentication succeeded"
Hello, I trying use this module, but I found no information is resolved when authentication has succeeded.
For example on Android, it throws an result form of BiometricPrompt.AuthenticationResult which has crypto information. But in code, only resolve 'true'.

[code]

Could you guys please modify this code to resolve the 'result' not 'true'?
Thank you.

[2020-06-12 02:24] phillbaker commented on #137
closed in https://github.com/hieuvp/react-native-fingerprint-scanner/pull/141

[2020-06-12 02:24] #137 closed

[2020-06-20 06:37] ANIBIT14 opened #142 "Fatal Exception in Android App"
Hi, recently we are getting a crash in our Android app a lot because of the fingerprint module.
the stack trace for error is
Fatal Exception: java.lang.IllegalArgumentException: FragmentActivity must not be null
       at androidx.biometric.BiometricPrompt.<init>(BiometricPrompt.java:61)
       at com.hieuvp.fingerprint.ReactNativeFingerprintScannerModule.getBiometricPrompt(ReactNativeFingerprintS

[2020-06-20 13:56] phillbaker commented on #142
Looks like a dupe of https://github.com/hieuvp/react-native-fingerprint-scanner/issues/137, a fix has been merged on master. It was just released as v6.

[2020-06-20 13:56] #138 closed

[2020-06-21 05:14] #142 closed

[2020-07-09 07:10] sbycrosz opened #143 "Add changelogs on new releases"
A changelog would be super helpful!

Currently, I'm digging through the commits & PRs to see what has been changed since 4.0.0.

Here's what I got:

4.1.0

- [Android] Added cancel button text option, new description, and subtitle text when requesting fingerprint ID
   **Breaking changes** if you consider different position of the text as a breaking changes

    **Previously:**
    -- `description

[2020-07-09 14:20] mikehardy commented on #143
@sbycrosz fantastic! You could post that as a PR probably, it looks well done. Surely there was a breaking change between 5 and 6 or why the major version jump though? At any rate, mostly posting to say the GitHub web UI for making PRs to markdown docs is great, makes it super easy

[2020-07-11 08:20] gopikasireddy202 commented on #21
Hi Team,

In iOS when user authentication is failed then user is enter password in the pop up.When i click on enter password on pop up it shows a message like Authentication was cancelled because the user tapped the fallback button(Enter Password).
I need to navigate to Passcode screen when user tapped on the enter password popup if the user authentication is failed.

Can you please give the code

[2020-07-11 08:22] gopikasireddy202 opened #144 "Need to Move the Passcode screen When User Authentication is Fail Click on Enter Password Pop Up"
Hi Team,

In iOS when user authentication is failed then user is entered password in the pop up. When I click on enter password on pop up it shows a message like Authentication was cancelled because the user tapped the fallback button(Enter Password).
I need to navigate to Passcode screen when user tapped on the enter password popup if the user authentication is failed.

Thank you.

[2020-07-17 17:24] alexmngn opened #146 "Disable yellow warnings"
Hello,

Is there any way we can disable the yellow warning coming from this package?

When a user cancels for example, getting this warning:
<img width="494" alt="Screenshot 2020-07-17 at 18 23 17" src="https://user-images.githubusercontent.com/4203845/87813886-a6d7e500-c85a-11ea-85a5-aa833fc687ab.png">

I don't really need those and they can be annoying on the long term...

Thanks!

[2020-07-17 17:32] mikehardy commented on #146
https://reactnative.dev/docs/debugging.html#console-errors-and-warnings

But then in general the answer for open source is usually "sure" I think, post a PR :-)

[2020-07-22 14:24] reactnative103 commented on #119
We need this configurable after that this library becomes fabulous.

[2020-07-22 18:54] mikehardy commented on #119
@reactnative103 in open source "We need this configurable" should be written as "Would you accept a PR to make this configurable?", then propose a PR - by far the fastest way to get resolution, and of course use patch-package in the meanwhile for your project while the PR goes through review + merge etc

[2020-07-23 03:59] reactnative103 commented on #119
@mikehardy Thanks for quick reply.

PR already raised and committed required code by @bryvin. But no action on this till now

[2020-07-23 14:11] mikehardy commented on #119
@reactnative103 and there are steps listed there to bring it home: https://github.com/hieuvp/react-native-fingerprint-scanner/pull/82#issuecomment-654301684 - anyone can do them I think, could be you? If there is a PR open, that should be the discussion point, looks like this is achievable with a little effort from someone

[2020-07-23 14:24] bryvin commented on #119
@reactnative103 The PR I had submitted has been closed for some time now. But there seems to be a new one issued here: https://github.com/hieuvp/react-native-fingerprint-scanner/pull/125  albeit it doesn't look like the ability is configurable here.

[2020-07-27 10:35] SMJ93 opened #147 "Users are reporting no biometrics on some Android devices including the Samsung Galaxy S10+"
Hey, great library! It's been working great for us on the majority of devices, but more of our users are saying they never see biometrics on some devices.

We call `FingerprintScanner.isSensorAvailable()` like on any other device to check if biometrics are available.

**Device:**
[code]

**Versions:**
[code]

[2020-08-03 19:56] Dwayne01 commented on #139
what was the solution to this issue

[2020-08-04 13:04] reactnative103 commented on #119
@bryvin Thanks for your reply. Please suggest how we can achieve PIN, pattern, and password lock with touch-id.
Any solution have you found?

[2020-08-04 16:38] bryvin commented on #119
@reactnative103 To be honest I am a little out of the loop on this now and am no longer working with React Native at all. I do know though that previously in my experience failing enough times with Face ID/Touch would prompt automatically to enter in the PIN but only on the second round of "failing". So essentially failing Face ID enough times, trying again with Face ID and failing again it would

[2020-08-05 09:25] aaroncornelissen opened #148 "How to resolve ''DeviceLockedPermanent''"
I updated the library from v4 to v6.0.0 in my app. I am now using the new android API to use fingerprint for login.
During the testing process I entered my fingerprint to many times incorrectly, now my fingerprintscan does not work anymore.
I am now constantly getting a DeviceLockedPermanent error.

In the android docs (https://developer.android.com/reference/androidx/biometric/BiometricPrompt#ERR

[2020-08-05 14:47] SMJ93 commented on #139
Hi @Dwayne01,

I think it was conflicting with another library if I remember correctly.

[2020-08-05 15:38] mikehardy commented on #148
Looks like this system API, with true to allow for device credentials (non-biometric) would do it https://developer.android.com/reference/androidx/biometric/BiometricPrompt.PromptInfo.Builder#setDeviceCredentialAllowed(boolean)

Attempt it by altering this line here directly to true and testing: https://github.com/hieuvp/react-native-fingerprint-scanner/blob/910e563bb55b22829056d728273d81bf035a81f

[2020-08-06 07:33] aaroncornelissen commented on #148
@mikehardy thanks for your message.

I've tried your possible solution, but it didn't work. After entering +/- 20 times wrong credentials reopening the biometricprompt is not possible anymore. I think your suggested change has do to with it, but I think there also have to be an event that tells android that the alternative strong login succeeded.

[2020-08-06 14:21] mikehardy commented on #148
@aaroncornelissen to "active listen" (to make sure I understand) and guess a bit:

- I think you meant: you added the call to the native Android SDK API call `BiometricPrompt.setDeviceCredentialAllowed(true)` ?
- I think you meant: you are in a 'DeviceLockedPermanent' state with regard to biometrics on this device for this app? (after approx 20 fails)
- here is the guess: now you can authenticate

[2020-08-13 02:53] sumerpatel opened #149 "Localization Issue"
<img width="464" alt="Screenshot 2020-08-13 at 8 17 24 AM" src="https://user-images.githubusercontent.com/22316368/90088821-86a62380-dd3d-11ea-816b-32f6760e593f.png">

FingerprintScanner.authenticate({
        title: loginLables.LoginWithBiometrics,
        subTitle: '',
        description: '',
        cancelButton: labels.btnCancel,
        onAttempt: this.handleAuthenticationAttempted,
      })

[2020-08-17 04:12] saikats5 opened #150 "Not working on iPhone 8"
I am trying to implement it on an expo project and is trying a basic code(added below) to test it on my physical iPhone 8 device, but it is not supporting the biometric, throwing this error -> isSensorAvailable error =>  [TypeError: null is not an object (evaluating 'ReactNativeFingerprintScanner.isSensorAvailable')]

Code

import React, {Component} from 'react';
import {Text, SafeAreaView, StyleS

[2020-08-17 15:44] mikehardy commented on #150
Expo and native modules basically doesn't work, you will need to contact Expo support.
There is a chance you might get it to work if you use the bare workflow, but as with all things Expo, if there are problems, contact Expo support.

If you can reproduce the problem with the example app provided, then the module has a problem, but this is probably Expo related

[2020-08-29 10:20] viralS-tuanlv opened #151 "How to custom Dialog of finger print"
I want to custom my own dialog of finger print in both ios and android, so have any way to do this? thanks

[2020-09-04 04:57] dattx-0602 commented on #126
with IOS, you need to lock the phone and turn it on again

[2020-09-06 06:16] samaneh-kamalian opened #152 "disable native popup"
How can disable native popup. I just need to start scanning, when call `FingerprintScanner.authenticate`

[2020-09-07 18:29] ANIBIT14 opened #153 "Getting an argument crash on android 5.1 devices"
Getting the following crash on android 5.1 devices in production app hoping someone can help asap:-
Fatal Exception: com.facebook.react.bridge.NativeArgumentsParseException: ReactNativeFingerprintScanner.authenticate got 2 arguments, expected 6
       at com.facebook.react.bridge.JavaMethodWrapper.invoke(JavaMethodWrapper.java)
       at com.facebook.react.bridge.JavaModuleWrapper.invoke(JavaModul

[2020-09-07 18:40] mikehardy commented on #153
argument count mismatches between javascript and native is almost always updates that went wrong, or stale things somewhere. I recommend `npx react-native-clean-project` and a fresh attempt

[2020-09-08 12:26] ANIBIT14 commented on #153
@mikehardy it is just happening for android 5.1 devices, it is not breaking on any other os version,

[2020-09-08 18:02] mikehardy commented on #153
I just re-read the report. My statement still stands.

[2020-09-08 18:07] ANIBIT14 commented on #153
@mikehardy thanks, will recheck with the above solution

[2020-09-15 06:04] Technaur commented on #144
I am also facing this issue. Any solution yet?
When I click on Enter Password, the system dialog box disappears, and it throws an exception with UserFallback. No password/passcode screen appears. As far as I know, a system dialog box should pop up to enter the password/passcode.

[2020-09-15 08:10] gopikasireddy202 commented on #144
Please use this  react-native-passcode-auth.I am use this library in iOS.
If there are issues while running the project please let me know.

Thank you,

On Tue, Sep 15, 2020 at 11:34 AM Technaur <notifications@github.com> wrote:

--
*K Gopi Krishna* | React-Native Developer / Khameleon
M: (+91) 9030363095  <(813)6004060>
W: https://www.amzur.com
<https://www.facebook.com/amzurtech> <http://www.twi

[2020-09-15 08:11] gopikasireddy202 commented on #144
Please use this  react-native-passcode-auth.I am use this library in iOS.
If there are issues while running the project please let me know.

On Tue, Sep 15, 2020 at 11:34 AM Technaur <notifications@github.com> wrote:

--
*K Gopi Krishna* | React-Native Developer / Khameleon
M: (+91) 9030363095  <(813)6004060>
W: https://www.amzur.com
<https://www.facebook.com/amzurtech> <http://www.twitter.com/amz

[2020-10-05 05:45] jong-hui opened #155 "[Question, bug?] why Android getBiometricPrompt use memoize?"
Hello. Thank you for making a good library.

While using the library, I found unwanted behavior and was looking at the library code.
I have a question. This can be a bug.

in `ReactNativeFingerprintScannerModule.java:97`
[code]

You can only do one bio-certification on Android.
Because 'biometricPrompt' is memoized in 'getBiometricPrompt function'.

Bio-certification can be done several times in i

[2020-10-05 10:51] hishamelgezeery commented on #155
Hello,

I also thought this was an issue, but I guess we were missing calling the `FingerprintScanner.release()`, which if you look in the native code actually sets the `biometricPrompt` you're mentioning above to null. So in the `finally` callback of your call to `authenticate`, just call `FingerprintScanner.release()`

[2020-10-05 12:59] jong-hui commented on #155
@hishamelgezeery Thank you for explanation.

As hishamelgezeery said, calling FingerprintScanner.release() might solve this issue.
However, this behavior(memoize) can cause confusion because it works differently than ios.
How much benefit does Memoize give it?

[2020-10-14 13:42] Yiangostr opened #156 "[Bug] Huawei face id not working"
Hello,
Im testing face id in Huawei P30 lite and its not working.
Test case: If fingerprint is enable from the P30 then fingerprint its working, if fingerprint is disable and face id is enable, the app is not recognise as its biometric setting enable from the p30 as result not working in the app.

Already added   <uses-permission android:name="android.permission.USE_BIOMETRIC" />
to manifest!
This

[2020-10-25 12:40] biju1984 commented on #152
I am also having the same issue in Android.. the native popup just come up before app's auth kick in

[2020-10-26 08:10] EmilMakaev opened #157 "Activate a second time FingerprintScanner.authenticate"
Android. When I activate biometrics for the first time and click (cancel), I get an errors (UserCancel or UserFallback) That's okay, but when I activate (FingerprintScanner.authenticate) a second time it doesn't return Promise, I don't get into (then, catch) block. Biometrics works, but the result is not resolved. Please tell me why this is happening?

If I restart the applications, then everythin

[2020-10-26 11:44] sam9010 opened #158 "React Native Fingerprint Scanner.authenticate got 2 arguments, expected 6"
i have an error
this error:
![photo_2020-10-26_15-13-09](https://user-images.githubusercontent.com/41944885/97168574-f012cb80-179d-11eb-98fd-54b7213db7bc.jpg)

[2020-10-27 18:50] stephichau commented on #157
@EmilMakaev this might help https://github.com/hieuvp/react-native-fingerprint-scanner/issues/155

[2020-10-28 05:06] EmilMakaev commented on #157
Thank you very much!

[2020-10-28 05:06] #157 closed

[2020-10-31 07:55] sahil290791 commented on #158
I am also facing this issue, but only in the android device running on 5.1

<img width="609" alt="Screenshot 2020-10-31 at 1 23 30 PM" src="https://user-images.githubusercontent.com/7287280/97774304-89662700-1b7c-11eb-9dcb-19cfcffabb84.png">

[2020-11-01 12:13] sam9010 commented on #158
i run it in my phone , its version android 5.01 it get error,

i think it is not run in android 5

[2020-11-02 05:49] sam9010 opened #159 "how to rename button 'CANCEL'"
i want to rename button
plz help me

[2020-11-04 07:41] sam9010 commented on #159
i fount it
..\node_modules\react-native-fingerprint-scanner\src\authenticate.android.js

 if (!cancelButton) {
      cancelButton = "cancel";

[2020-11-04 07:41] sam9010 commented on #159
i fount it
..\node_modules\react-native-fingerprint-scanner\src\authenticate.android.js

 if (!cancelButton) {
      cancelButton = "cancel";

[2020-11-04 07:41] #159 closed

[2020-11-04 07:43] sam9010 opened #160 "change text in modal verify fingerprint"
how to change text in modal verify fingerprint
i mean
" Scan your fingerprint "

[2020-11-04 12:53] Yiangostr commented on #156
Update? @hieuvp

[2020-11-12 04:54] ANIBIT14 commented on #158
Yes happened with us also, removed support fro fingerprint from 5.1 devices to make it stop, couldn't find what was wrong in code

[2020-11-12 04:56] ANIBIT14 opened #161 "Exception - Fatal Exception: java.lang.NullPointerException Attempt to invoke interface method 'int java.util.List.size()' on a null object reference com.hieuvp.fingerprint.ReactNativeFingerprintScannerModule$a.run"
I am getting a new exception in this fingerprint module, stack trace is below - hope someone can help -:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'int java.util.List.size()' on a null object reference
       at android.os.Parcel.createException(Parcel.java:1956)
       at android.os.Parcel.readException(Parcel.java:1918)
       at android.os.Parcel.readE

[2020-12-06 16:14] amircoh opened #163 "FingerPrint Change"
is there any way how to detect when FingerPrint has changed?

[2020-12-14 19:23] damjanvucina commented on #156
Now working on s8+ either

[2020-12-18 16:41] pmm1 opened #165 "FingerprintScannerUnknownError being thrown more frequently on iOS 14"
We're seeing a large spike in the _FingerprintScannerUnknownError_ being thrown for users on iOS 14.

Has anyone else noticed this issue and is there a way to fix it?

[2020-12-21 13:42] digitlninja opened #166 "How to set fallback for android if a user doesn't have any fingerprints registered / or failed attempts????"
How can the package not support this? Only in IOS it seems?

Please advise.

[2020-12-22 09:35] digitlninja commented on #166
ping

[2020-12-22 19:14] mikehardy commented on #166
@digitlninja I think the way open source works is that you can look at the documents and if they don't answer your question, you can actually look at the source. And if it doesn't support what you want, you can propose a pull request and then it supports what you need, without delay

[2021-01-08 15:24] Yandamuri commented on #166
I ma also looking for this feature?

[2021-01-20 11:19] shubhnik opened #167 "Fatal Exception: java.lang.RuntimeException: Could not invoke ReactNativeFingerprintScanner.authenticate"
Getting this error on android
<img width="1107" alt="Screenshot 2021-01-20 at 4 44 03 PM" src="https://user-images.githubusercontent.com/9150371/105167561-e3083d00-5b3e-11eb-993f-f32a1698bcf5.png">

`react-native-fingerprint-scanner: 4.0.0`
What could we be doing wrong? Is there any use case that we aren't handling?

[2021-02-02 17:20] jimkhan opened #171 "Taking too much time to authenticate on real device."
I'm using "react-native-fingerprint-scanner": "^6.0.0" it works fine on emulator. But when I built apk it taking too much time(3 or 4 seconds) to authenticate on a real device. What can I do?

Here is my code:

[code]

[2021-02-03 04:52] Sandeep200995 opened #172 "Not Working on Android"
Hello I try to implement this module on react -native app
but its showing error of dex file on building android build
please help me out

[2021-02-03 05:22] Sandeep200995 commented on #172
Error: null, Cannot fit requested classes in a single dex file (# fields: 67712 > 65536)
![Uploading Screenshot 2021-02-03 at 10.51.40 AM.png…]()

[2021-02-03 08:38] hieunguyendut commented on #165
1+ vote. Same with me.

[2021-02-03 10:31] hieunguyendut commented on #165
@pmm1 hey guy. this is because you showed modal in background so user can not interactive with the modal and that isn't allow by apple.

If you check in the lib you will find that error relate to this kLAErrorNotInteractive error code
https://developer.apple.com/documentation/localauthentication/klaerrornotinteractive?language=objc

so to make sure you can set timeout about 10 20 seconds to make u

[2021-02-03 15:15] mikehardy commented on #172
@Sandeep200995 google android multidex -> implement multidex per docs

[2021-02-09 09:34] erezz33 opened #173 "Android - way to identify sensor type and to authenticate only with fingerprint method"
trying to find a way to ignore facial recognition of android devices and only allow to authenticate with the fingerprint sensor.
I need to know if there is a method to check in android, which biometric method the user has used to authenticate himself with because if he used only facial recognition I don't want to prompt him a biometric authentication with facial recognition

[2021-03-14 09:04] cardyy opened #174 "Saving Fingerprint data into a database"
I have been going through the library and saw that it mainly authenticates fingerprints, i wanted to ask if there can be a way to save the fingerprint data into a database through a post request maybe . How can i capture the fingerprint information

[2021-03-14 16:48] mikehardy commented on #174
Hi there! You should examine how the authentication and biometrics work on the platform. When I checked (since I was curious if it was possible to do something similar) it seemed to me that the *platform* (as in: the operating system, nothing available via APIs) captured the biometric data and stored it within the platform. The only thing information that is exposed via APIs that this module (or a

[2021-03-25 11:42] chetankotkar commented on #173
+1
 I am also facing the same problem. I need to differentiate between Face and fingerprint biometric authentication. is there any way to do that ? For business Analytics reporting its very necessary.

[2021-04-01 17:09] andhappymoney commented on #25
Have you managed to show the Face ID icon?

[2021-04-06 10:06] caolong0204 opened #177 "How to run a function after fingerPrint fail on IOS?"
How to have things is like  onAttempt  on IOS Platform(onAttempt only Android)
I need run a function after fingerPrint fail, use **catch** in **authenticate** is not enough, only run to catch when fingerprint fail more once!
Many Tks!

[2021-04-29 08:24] EddyDunda opened #178 "Is this package still going to be maintained"
I want to use this package, but i see that latest update was 1 year ago. Can i use it safely? @phillbaker

[2021-04-29 16:33] G0retZ opened #179 "java.lang.IllegalArgumentException in Android"
Hey there!
We had this crash for along time.
Recently updated to the 6.0.0 but the crash is still happening for our users.

[code]

Yeah, I know there is a #137
But that is fixed in 6.0.0, right?

How to fix this anyway?

[2021-05-04 02:07] phillbaker commented on #178
I'm not actively working on this project anymore, you'd have to look at recent issues and make a judgement.

[2021-05-04 11:04] EddyDunda commented on #178
Got it, thanks @phillbaker!

[2021-05-07 04:54] tunm1228 opened #181 "how to get the number of fingerprint registrations?"

[2021-05-27 12:18] digitlninja opened #185 "How to fix DeviceLockedPermanent incessant alert - after multiple wrong attempts??"
after failing auth a few times a popup with text "Authentication was not successful, device must be unlocked via password" shows non stop, and is stopping the flow / working of my app on IOS.

How can i turn this off as I want them to simply try again, or show a custom alert once, or any other solution?

Many thanks

[2021-06-13 20:34] BalogunofAfrica commented on #152
Hey man, any luck?

[2021-06-17 16:34] Harshitha91 commented on #144
I got this error "Cannot read property 'authenticate' of undefined". Do you got this?

[2021-06-28 14:33] Plumito2020 commented on #124
Same here ! Is there any solution ?

[2021-07-12 18:31] ahsanparacha02 opened #186 "null is not an object (evaluating o.isSensorAvailable)"
When i run in debug mode everything is working fine, but when i test in release apk then i can get this error.

Please help me to fixed this issue

Thanks

[2021-07-28 13:27] keremoge opened #188 "JCenter will not be maintained anymore"
On February 3 2021, JFrog [announced that they will be shutting down JCenter.](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)

Instead we should use **mavenCentral()**

Any plan on replacing jCenter() in [build.gradle](https://github.com/hieuvp/react-native-fingerprint-scanner/blob/master/android/build.gradle) ?

Current error if we replace **jCenter()** with **m

[2021-07-28 19:40] mikehardy commented on #188
Hi there! I believe you're in the wrong spot - that's a *transitive* dependency in your project, via this project, but the real dependency is elsewhere.

You might like: https://github.com/uccmawei/FingerprintIdentify/commit/5a344dcbbfbdf4d70299d1cabaa8d47e57600e19

[2021-07-29 10:24] keremoge commented on #188
Yes you are are right the root problem is about [FingerprintIdentify](https://github.com/uccmawei/FingerprintIdentify), but since this repository is using it the problem is also affecting [react-native-fingerprint-scanner](https://github.com/hieuvp/react-native-fingerprint-scanner) itself indirectly.

in [build.gradle](https://github.com/hieuvp/react-native-fingerprint-scanner/blob/master/android/

[2021-07-29 16:55] mikehardy commented on #188
Yes, and if you add jitpack as in the issue I reference, you're all set

[2021-08-01 09:52] CryceTruly opened #190 "Grammar issue in README."
Thanks, everyone for the great work on this project.

There is a slight issue with the `NSFaceIDUsageDescription` in `info.plist`
I think the string can be ```$(PRODUCT_NAME) requires FaceID access to allow you quick and secure access.```

[2021-08-05 17:02] mikehardy commented on #190
Hi there @CryceTruly ! Please open a PR if you want to make this change, I can merge it

[2021-08-05 17:02] #190 closed

[2021-08-05 17:02] mikehardy commented on #188
Fixed by #189

[2021-08-05 17:02] #188 closed

[2021-08-05 17:03] mikehardy commented on #186
Hi there, if it works in debug, it should work in release, or there is something wrong with your project and something different in the settings used between debug and release mode

This issue does not contain sufficient information to troubleshoot, either way https://stackoverflow.com/help/minimal-reproducible-example

[2021-08-05 17:03] #186 closed

[2021-08-11 20:24] HerickRaposo commented on #177
I'm having problems with this on android too, when canceling, the user can even call the biometrics function, but this second time it doesn't go through the "then" of the FingerprintScanner.authenticate function

[2021-09-01 10:04] aaroncornelissen opened #192 "Could not find com.wei.android.lib:fingerprintidentify:1.2.6 during compiling in RN 0.65.1"
[code]

Since I've upgraded my RN from 0.64.2 to 0.65.1 a problem occured with compiling my app for android.

Does someone know how to download the missing library?

Many thanks.

[2021-09-01 15:24] mikehardy commented on #192
If you have followed upgrade-helper and removed the jcenter maven repository, I believe you will need to add it back to your build.gradle file.

Can you test if that fixes your build?

react-native core no longer requires jcenter I believe, but there are many native modules wrapping libraries that are still only available on jcenter.

[2021-09-02 15:39] eneaaliko0 commented on #192
I have new project with RN 0.65.1 the same problem accurs. Add mavenCentral() on build.gradle file, the same. Could not find com.wei.android.lib:fingerprintidentify:1.2.6

[2021-09-02 18:54] mikehardy commented on #192
**jcenter** not mavenCentral.

My comment was very specific about that! https://github.com/hieuvp/react-native-fingerprint-scanner/issues/192#issuecomment-910393375

[2021-09-03 07:08] aaroncornelissen commented on #192
Thankyou @mikehardy, it seems to work!
Now I have problems with 'react-native-reanimated', but that is another problem.

My build.gradle file is now like this:
`// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    ext {
        firebaseIidVersion = "19.0.1"
        buildToolsVersion = "30.0.2"
        minSdkVersion = 21
        comp

[2021-09-03 07:20] eneaaliko0 commented on #192
With jcenter() it works. Thank you @mikehardy !

[2021-09-03 12:32] #192 closed

[2021-09-03 12:33] mikehardy commented on #192
File with reanimated if needed, but for reanimated you need their latest alpha for rn 65+, try that first

[2021-09-03 12:41] aaroncornelissen commented on #192
Thank you for thinking along.

I've installed the latetst alpha release what solves the compiling problem, but after comiling the app crashes [See issue](https://github.com/software-mansion/react-native-reanimated/issues/2256).

There is an issue for the 0.65 RN compatibility ([see issue](https://github.com/software-mansion/react-native-reanimated/issues/2290). They expect to release an RN 0.65 co

[2021-09-03 12:47] mikehardy commented on #192
Sounds like react-native 0.64.2 is for you for now....

[2021-09-08 08:40] thekundankamal opened #193 "Fatal Exception"
Fatal Exception: java.lang.NoSuchMethodError No direct method <init>(Landroidx/biometric/BiometricPrompt$CryptoObject;I)V in class Landroidx/biometric/BiometricPrompt$AuthenticationResult; or its super classes (declaration of 'androidx.biometric.BiometricPrompt$AuthenticationResult' appears in /data/app/com.iqvia.virtualtrials.studyhub.ent-RzgzBi4wu4kkqsxw_5SJHQ==/base.apk)

Its coming on some dev

[2021-09-08 13:52] mikehardy commented on #193
Without any information about the device, the version of android, the version of this module, all the versions involved really, it's impossible to say

[2021-09-11 12:50] msvargas opened #194 "Could not find com.wei.android.lib:fingerprintidentify:1.2.6"
Hello,

I try to install react-native-fingerprint-scanner 6.0 in my project with React Native 0.65.1, I have the following error with Android, in iOS works fine.

![image](https://user-images.githubusercontent.com/8255332/132948385-21087f70-3a01-4aea-bbec-8aae9a9ea945.png)

Thanks

UPDATE:

I replace the gradle implementation and it works

`    implementation 'com.github.uccmawei:FingerprintIdenti

[2021-09-11 13:36] mikehardy commented on #194
Duplicate #192

[2021-09-11 13:36] #194 closed

[2021-09-11 15:03] msvargas commented on #194
@mikehardy  Why don't you use this, it should be working fine with any version of RN

`implementation 'com.github.uccmawei:FingerprintIdentify:1.2.6'
`

[2021-09-11 18:25] mikehardy commented on #194
@msvargas I hadn't checked jitpack yet, so that's great if the bits are available up there. If you updated any Readme installation instructions in a PR I could merge it immediately, but I'm traveling and just haven't a phone so can't do it myself for quite a while

[2021-09-14 15:59] mikehardy commented on #194
@msvargas I'm still traveling but then see that we actually already merged a jitpack PR 🤦 but I haven't had time for a release yet. My schedule should settle down and I can hopefully kick one out in a week or so

[2021-09-14 21:59] msvargas commented on #194
@mikehardy That's sounds great hahaha, thanks for your package, if I can help with anything please let me know

[2021-09-17 07:35] Nimmyjose opened #195 "Disable popup dismiss while tapping outside the popup"
Is there any way to disable the popup dismiss on outside click?

[2021-09-17 15:56] mikehardy commented on #195
If I understand correctly, this module calls an API that is the equivalent of "please perform a biometric auth", and from there the system handles everything with no configuration capability of popups or anything. I could be missing something, if you did in on the source code and examine the API calls we're making here, and you see a parameter or different API documented in platform API docs, do f

[2021-11-08 08:48] nppull opened #197 "Face Unlock not working Android 30"
Face Unlock not working Android 30
Anyone have any solution?

[2021-11-10 04:05] zhuminjunivan opened #198 "Face Scan in Android"
if PromptInfo set setConfirmationRequired(fasle)，face scan error dialog will show two negativeButton；

As shown ：
![IMG20211110120238](https://user-images.githubusercontent.com/16554031/141047786-48dfb3e3-3d0b-47e1-a878-7223b0344f27.jpg)

set setConfirmationRequired(true) no matter

[2021-11-10 13:09] mikehardy commented on #198
It sounds like you are here? https://github.com/hieuvp/react-native-fingerprint-scanner/blob/31f160f6437415258a6204ca8481612b314e41f8/android/src/main/java/com/hieuvp/fingerprint/ReactNativeFingerprintScannerModule.java?#L130

What if you remove the next line so there is no cancel text?  Is this device specific? Are there other reports of this?

It looks like the package ships with this configurat

[2021-11-11 00:37] zhuminjunivan commented on #198
Device : Realme Q3

[2021-11-11 02:50] zhuminjunivan commented on #198
Maybe this is a system bug
if I setConfirmationRequired(true)，face sacn successed need to confirm；
if setDeviceCredentialAllowed(true)　and not setNegativeButtonText also ok；although user need to enter password，but don't affect the operation。
so advice open parameter to rn，let developer choose；
Thanks

[2021-11-11 03:05] mikehardy commented on #198
I am no authority in this module, but in general that seems like a reasonable thing if you wanted to make a pull request with it

[2021-11-11 03:38] zhuminjunivan commented on #198
never mind，i change it locally

[2021-12-01 14:15] RonaldThayil opened #199 "Face Id not working in Iphone 11"
I tried in iPhone 10 and it is working fine but when I use iPhone 11 the app closes automatically.

[2021-12-01 14:29] mikehardy commented on #199
Hi there!
Any time the phrase "app crashes" is used in an issue report, it should be followed by the stack trace from native logs

[2021-12-01 15:46] tackanoway35 opened #200 ""FingerprintScannerNotEnrolled" error always show although i rolled finger print on Android"
Step 1. Authenticate -> Show "FingerprintScannerNotEnrolled" message
Step 2. Go to setting and roll finger print (Don't kill app)
Step 3. Comeback my app and authenticate. "FingerprintScannerNotEnrolled" error always show although i rolled finger print on Android
Version
react-native: 0.59
react-native-fingerprint-scanner: "2.6.2"
How to fix this bug?
Thanks u

[2021-12-01 16:05] mikehardy commented on #200
I wonder if it has to do with this:
https://github.com/hieuvp/react-native-fingerprint-scanner/blob/31f160f6437415258a6204ca8481612b314e41f8/android/src/main/java/com/hieuvp/fingerprint/ReactNativeFingerprintScannerModule.java#L98-L101

The way all the biometric stuff works changed with android API28 (Android P) and you don't specify what device under test is running, this guess is for >= 28

I co

[2021-12-03 05:25] RonaldThayil commented on #199
I added this line
"<key>NSFaceIDUsageDescription</key>
<string>$(PRODUCT_NAME) requires FaceID access to allows you quick and secure access.</string>"  in  info.plist.

After that, it works fine for me.

[2021-12-03 05:25] #199 closed

[2021-12-03 05:26] RonaldThayil commented on #199
Solved the issue by changing in info.plist file

[2021-12-03 09:35] 276259822 commented on #174
[evaluatedPolicyDomainState](https://developer.apple.com/documentation/localauthentication/lacontext/1514150-evaluatedpolicydomainstate)
```node_modules/react-native-fingerprint-scanner/ios/ReactNativeFingerprintScanner.m```

[code]

[2021-12-03 09:37] 276259822 commented on #163
[#174](https://github.com/hieuvp/react-native-fingerprint-scanner/issues/174#issuecomment-985366819)

[2021-12-03 12:15] mikehardy commented on #199
@RonaldThayil if there is something missing in the documentation (seems like there is? for install instructions on iOS?) you could hit the edit button on the README and quickly (using the github web UI, just takes a moment) propose a PR to improve it for everyone in the future

[2021-12-03 12:20] mikehardy commented on #163
@276259822 you should propose that as a PR, it would be easy to make backwards-compatible and thus easy to integrate.
Right now the authenticate APIs just return a `Promise<void>` but if you returned a new `BiometricResult<[key: string]: value: string>` and in there you had a key/value of `biometricChanged?: boolean` you could convey the information to callers of the API for iOS at least

[2021-12-03 12:21] mikehardy commented on #174
@276259822 that is cool and I did not even know that was possible, however, it does not actually return the biometrics, which was the question. That said it does at least offer comparison, which is ...maybe interesting. I'm going to close this as a combo of "not really possible" along with "but looks like code above can get you there". I left notes on #163 proposing how to get it integrated if som

[2021-12-03 12:21] #174 closed

[2021-12-14 19:02] i-wizard commented on #192
Yes, adding jcenter() to build.gradle works

[2021-12-16 03:10] MSameerSrivastav opened #201 "screen is flickering in ios on finger print authentication"
I have been using this library for finger print authentication and I see it is working good in both android and ios.
When I use it with iOS, I observe the screen is getting flickered whenever I hit the touch sensor.

[2021-12-16 11:33] mikehardy commented on #201
That's a system pop-up. the module just calls an API that says 'do the auth' and then has no control if I understand correctly. If you determine otherwise and figure out a remediation post a PR

[2021-12-22 09:32] matteodanelli commented on #192
Re-adding jcenter is only a temporary solution, since jcenter will be offline in February 2022.
😞

[2021-12-22 14:26] mikehardy commented on #192
@matteodanelli no, it won't. They will leave it up indefinitely for read access. If you know differently please please provide a reference from them as the last time I checked (and I check frequently) they say read-only indefinitely.

[2021-12-23 15:01] matteodanelli commented on #192
@mikehardy Right, I've missed the "read-only" update. Anyway, isn't better to move away from jcenter?
It's impossible to push update to libraries there.
Imho, the solution to drop jcenter isn't so bad, and it can be replaced with jitpack without issues.

[2021-12-23 15:04] mikehardy commented on #192
@matteodanelli it's almost as if someone should propose a PR and we should merge it, in order to get rid of jcenter, oh wait #189 ;-)

Just needs a release. Would you like to help maintain the package and help get releases out the door? I'm pretty low on time. Or at minimum you could use the tip of the current main branch as a gitref in package.json and report your results, letting us know it is w

[2021-12-23 15:12] matteodanelli commented on #192
I understood your point.
However, on the current main branch jcenter wasn't completely removed. It has been removed partially in that MR.
I'm already testing in my app with patch-package the complete removal and I can do a PR.
Last, yes, I can help you with releases.

[2021-12-23 19:23] mikehardy commented on #192
Oooo - I thought it was out completely with that one. Thanks for checking complete removal, excited for a PR to really remove it where needed! Thanks

[2021-12-24 10:49] matteodanelli commented on #192
Here the [MR](https://github.com/hieuvp/react-native-fingerprint-scanner/pull/202). Removed completely jcenter and replaced with jitpack where needed.
Tested also with the sample updated to RN 0.65.1, as pointed out in this issue.

[2022-01-10 10:57] valdio opened #203 "🐛 androidx.biometric.BiometricFragment in isFingerprintDialogNeededForCrypto"
NullPointerException
Attempt to invoke virtual method 'androidx.biometric.BiometricPrompt$CryptoObject androidx.biometric.BiometricViewModel.getCryptoObject()' on a null object reference

## reference link
https://androidx.de/androidx/biometric/BiometricFragment.html

[2022-01-10 15:03] mikehardy commented on #203
https://stackoverflow.com/help/how-to-ask
https://stackoverflow.com/help/minimal-reproducible-example

[2022-01-10 16:05] #203 closed

[2022-01-28 10:03] jwoodmansey commented on #203
We're also seeing this, specifically on Samsung devices using Exynos chipsets. Seems to be happening on the `FingerprintScanner.release();` method.

The following stack trace was taken from a **SM-G970F** running **Android 11:**

[code]

[2022-02-16 08:33] raymenchow commented on #185
FingerprintScanner.release()

[2022-03-24 10:06] agestaun commented on #192
Hi, I cannot get the artifact from jitpack.

https://www.jitpack.io/com/wei/android/lib/fingerprintidentify/1.2.6/fingerprintidentify-1.2.6.pom

It returns not found.

[2022-03-24 12:43] mikehardy commented on #192
That looks like the wrong URL. The dependency here is
https://github.com/hieuvp/react-native-fingerprint-scanner/blob/54b06e1f354628ea472c3f6527f7652a85081f22/android/build.gradle#L52

Looks great https://www.jitpack.io/com/github/uccmawei/fingerprintidentify/1.2.6/fingerprintidentify-1.2.6.pom

[2022-03-24 14:35] agestaun commented on #192
@mikehardy  My jenkins is trying to get that artifact though.

`
10:30:36     > Could not resolve com.wei.android.lib:fingerprintidentify:1.2.6.
10:30:36       Required by:
10:30:36           project :app > project :react-native-fingerprint-scanner
10:30:36        > Could not resolve com.wei.android.lib:fingerprintidentify:1.2.6.
10:30:36           > Could not get resource 'https://www.jitpack.io/

[2022-03-24 15:01] agestaun commented on #192
I saw that there have been no new versions recently and the jcenter was completely removed. I didn't want to point to a commit, but it's better than the crash I get when compiling.

Thank you mike.

[2022-03-24 15:12] mikehardy commented on #192
Yeah, no alternative at the moment but the commit hash as reference. Need to get a release out here but been swamped :-)
At least from a build reproducibility perspective commit hashes are stable unique identifiers, no one can change the contents on that really, so it should be safe. Alternatively you can point to the existing most recent release and ingest the changes locally via patch-package if

[2022-04-08 16:20] SMJ93 commented on #147
Closing as I no longer use this library

[2022-04-08 16:20] #147 closed

[2022-04-08 17:10] mikehardy commented on #147
@SMJ93 just out of curiosity - is there another library you're using to cover the use cases, or are you just no longer using biometrics? Either way, cheers :-)

[2022-04-10 16:03] SMJ93 commented on #147
Hey @mikehardy, none of the projects I am working on at the moment are using biometrics.

[2022-04-26 13:27] PradeepKpi opened #208 "Errors are not Throwing in IOS if Authentication is not success"
I have returned some conditions in iOS where after several failed attempts I'm showing one modal with a message Too many attempts but recently I have noticed that the Errors are not throwing in the iPhone 13

[2022-04-28 10:31] #208 closed

[2022-05-20 14:12] ZoeKav commented on #197
Any update on this??

[2022-05-20 14:39] mikehardy commented on #197
Open source repos don't have updates unless people do work, and when people do work it's visible.
No visible work, no update.
Updates could be your work resolving the issue! https://hackernoon.com/i-thought-i-understood-open-source-i-was-wrong-cf54999c097b

[2022-05-23 20:55] jacobira opened #211 "Addition of 'doCancel' method for iOS"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-fingerprint-scanner@6.0.0` for the project I'm working on.

Added code to make a method available on iOS that cancels an ongoing biometric authentication process.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially ge

[2022-05-28 22:52] ldiasm commented on #149
Hey! Did you get any solution? :)

[2022-07-05 10:35] anija opened #217 "React Native 0.69.0: warn Package react-native-fingerprint-scanner has been ignored because it contains invalid configuration. Reason: "dependency.assets" is not allowed"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-fingerprint-scanner@6.0.0` for the project I'm working on.

When I upgraded React Native to latest version (0.69.0), i started to see this warning:
`warn Package react-native-fingerprint-scanner has been ignored because it contains invalid configurati

[2022-07-05 16:46] mikehardy commented on #217
Oh this one is really important as it the CLI fails the module configuration completely until they release a new version
@anija do you think you could post a full PR for this instead of just the patch?

[2022-07-05 16:51] anija commented on #217
I can't do enough test at this moment to feel comfortable in posting a PR :(

[2022-07-05 17:08] mikehardy commented on #217
That's okay in general I think - you post PR, and CI runs test, or then I have the ability to use github command line tool to easily pull the PR and run tests. No PR? No ability to use tools to do testing etc and integrating a patch for testing is manual process

[2022-07-05 17:08] mikehardy commented on #217
Flagging a PR like that (like "Hey, I'm posting this but have not had time to test, sorry, hopefully it works or is easier for others to test/verify this way"). It's a human process :-)

[2022-07-26 10:57] noumantahir commented on #192
perhaps a slightly better solution instead adding whole `jcenter()`

[code]

[2022-07-30 21:24] mikehardy commented on #192
@noumantahir that's a nice trick, should have a non-trivial positive impact on the artifact resolution phase build performance

[2022-08-03 03:04] mmkhmk opened #218 "Failed to build for Android with compileSdkVersion 30"
I got the following error in Android build.

[code]

Currently compileSdkVersion is 30 in our app and we can't update it because of dependencies.
Is there any ways to use this library with compileSdkVersion 30?

[2022-08-07 20:52] mikehardy commented on #218
I don't see how androidx.biometric dependency came in at 1.2.0-alpha04.
It should be at 1.1.0.
https://github.com/hieuvp/react-native-fingerprint-scanner/blob/9cecc0db326471c571553ea85f7c016fee2f803d/android/build.gradle#L46

Then it most likely would only need compileSdkVersion 30. Bumping to JDK11 + compileSdkVersion 31 should be a very high priority for you, everything is moving to that as a  b

[2022-10-31 06:24] StephenBanz commented on #192
jcenter() has gone offline😢
is there anything we can do on the ap side

https://bintray.com/
https://jcenter.bintray.com/

[2022-10-31 10:52] DenisKozhevnikov commented on #192
try replacing in node_modules/react-native-fingerprint-scanner/build.gradle
`implementation "com.wei.android.lib:fingerprintidentify:${safeExtGet("fingerprintidentify", "1.2.6")}"`
->
`implementation 'com.github.uccmawei:FingerprintIdentify:1.2.6'`

[2022-11-01 05:53] zahoormohammed opened #220 "Could not resolve all task dependencies for configuration ':app:debugRuntimeClasspath'. > Could not resolve com.facebook.react:react-native:+"
hi, i just updated my android studio to Android Studio Dolphin | 2021.3.1 Patch , when i did run-android the build got failed, i am getting the following error.
Could not resolve all task dependencies for configuration ':app:debugRuntimeClasspath'.

       Required by:
         project :app
         project :app > project :react-native-async-storage_async-storage
         project :app > project :r

[2022-11-01 12:56] mikehardy commented on #220
Pinned issue #192, duplicate

[2022-11-01 12:56] #220 closed

[2022-11-02 04:24] StephenBanz commented on #192
Thank you for all the answers
We also found  a Jcenter mirror which worked fine